.imx-icon {
  --size: 1.5rem;
  --color: currentColor;

  display: inline-block;
  background-color: var(--color);
  width: var(--size);
  height: var(--size);
  mask-image: var(--icon);
  mask-repeat: no-repeat;
  -webkit-mask-image: var(--icon);
  -webkit-mask-repeat: no-repeat;
}
