@mixin imx-icon {
	background: url("svg/sprite.css-1c840ad2.svg") no-repeat;
}

.imx-icon {
	@include imx-icon;
}

.imx-accessibility {
	background-position: 0 0;
}

.imx-add-child {
	background-position: 0.26525198938992045% 0;
}

.imx-add-filter {
	background-position: 0.5305039787798409% 0;
}

.imx-add-row {
	background-position: 0.7957559681697612% 0;
}

.imx-aggregation {
	background-position: 1.0610079575596818% 0;
}

.imx-aids-ribbon {
	background-position: 1.3262599469496021% 0;
}

.imx-all {
	background-position: 1.5915119363395225% 0;
}

.imx-amazon {
	background-position: 1.856763925729443% 0;
}

.imx-ambulance {
	background-position: 2.1220159151193636% 0;
}

.imx-american-express {
	background-position: 2.387267904509284% 0;
}

.imx-anxiety {
	background-position: 2.6525198938992043% 0;
}

.imx-api {
	background-position: 2.9177718832891246% 0;
}

.imx-app-symbol {
	background-position: 3.183023872679045% 0;
}

.imx-apple {
	background-position: 3.4482758620689653% 0;
}

.imx-apple-app-store {
	background-position: 3.713527851458886% 0;
}

.imx-apple-pay {
	background-position: 3.9787798408488064% 0;
}

.imx-atm {
	background-position: 4.244031830238727% 0;
}

.imx-atm-dollar {
	background-position: 4.5092838196286475% 0;
}

.imx-atm-euro {
	background-position: 4.774535809018568% 0;
}

.imx-atm-pound {
	background-position: 5.039787798408488% 0;
}

.imx-atm-yen {
	background-position: 5.305039787798409% 0;
}

.imx-auction {
	background-position: 5.570291777188329% 0;
}

.imx-award {
	background-position: 5.835543766578249% 0;
}

.imx-baby-bottle {
	background-position: 6.10079575596817% 0;
}

.imx-bacteria {
	background-position: 6.36604774535809% 0;
}

.imx-bandage {
	background-position: 6.63129973474801% 0;
}

.imx-bank-safe {
	background-position: 6.896551724137931% 0;
}

.imx-barcode {
	background-position: 7.161803713527852% 0;
}

.imx-battlenet {
	background-position: 7.427055702917772% 0;
}

.imx-bear-market {
	background-position: 7.6923076923076925% 0;
}

.imx-behance {
	background-position: 7.957559681697613% 0;
}

.imx-bill-paid {
	background-position: 8.222811671087532% 0;
}

.imx-biohazard {
	background-position: 8.488063660477454% 0;
}

.imx-bitcoin {
	background-position: 8.753315649867375% 0;
}

.imx-blood {
	background-position: 9.018567639257295% 0;
}

.imx-blu-ray {
	background-position: 9.283819628647215% 0;
}

.imx-bottom-percentile-records {
	background-position: 9.549071618037136% 0;
}

.imx-bottom-records {
	background-position: 9.814323607427056% 0;
}

.imx-box {
	background-position: 10.079575596816976% 0;
}

.imx-braille {
	background-position: 10.344827586206897% 0;
}

.imx-breastfeeding {
	background-position: 10.610079575596817% 0;
}

.imx-brick-wall {
	background-position: 10.875331564986737% 0;
}

.imx-brush {
	background-position: 11.140583554376658% 0;
}

.imx-bucket {
	background-position: 11.405835543766578% 0;
}

.imx-budget-spending {
	background-position: 11.671087533156498% 0;
}

.imx-bug {
	background-position: 11.936339522546419% 0;
}

.imx-building {
	background-position: 12.20159151193634% 0;
}

.imx-bull-market {
	background-position: 12.46684350132626% 0;
}

.imx-bulldozer {
	background-position: 12.73209549071618% 0;
}

.imx-business-development {
	background-position: 12.9973474801061% 0;
}

.imx-caduceus {
	background-position: 13.26259946949602% 0;
}

.imx-calculator {
	background-position: 13.52785145888594% 0;
}

.imx-cancer-ribbon {
	background-position: 13.793103448275861% 0;
}

.imx-candidate-results {
	background-position: 14.058355437665783% 0;
}

.imx-case-sensitive {
	background-position: 14.323607427055704% 0;
}

.imx-cash-1 {
	background-position: 14.588859416445624% 0;
}

.imx-cash-2 {
	background-position: 14.854111405835544% 0;
}

.imx-cash-only {
	background-position: 15.119363395225465% 0;
}

.imx-cement-mixer {
	background-position: 15.384615384615385% 0;
}

.imx-certificate {
	background-position: 15.649867374005305% 0;
}

.imx-check {
	background-position: 15.915119363395226% 0;
}

.imx-chrome {
	background-position: 16.180371352785144% 0;
}

.imx-clinic {
	background-position: 16.445623342175065% 0;
}

.imx-code {
	background-position: 16.71087533156499% 0;
}

.imx-code-fork {
	background-position: 16.97612732095491% 0;
}

.imx-code-review {
	background-position: 17.24137931034483% 0;
}

.imx-commodities {
	background-position: 17.50663129973475% 0;
}

.imx-condom {
	background-position: 17.77188328912467% 0;
}

.imx-condom-used {
	background-position: 18.03713527851459% 0;
}

.imx-console {
	background-position: 18.30238726790451% 0;
}

.imx-construction-cone {
	background-position: 18.56763925729443% 0;
}

.imx-construction-project {
	background-position: 18.83289124668435% 0;
}

.imx-construction-trolley {
	background-position: 19.09814323607427% 0;
}

.imx-contains {
	background-position: 19.363395225464192% 0;
}

.imx-contraception {
	background-position: 19.628647214854112% 0;
}

.imx-cordless-screwdriver {
	background-position: 19.893899204244033% 0;
}

.imx-coronavirus {
	background-position: 20.159151193633953% 0;
}

.imx-country-home {
	background-position: 20.424403183023873% 0;
}

.imx-crane {
	background-position: 20.689655172413794% 0;
}

.imx-credit-cards {
	background-position: 20.954907161803714% 0;
}

.imx-credit-control {
	background-position: 21.220159151193634% 0;
}

.imx-crowdfunding {
	background-position: 21.485411140583555% 0;
}

.imx-custom-filter {
	background-position: 21.750663129973475% 0;
}

.imx-deafness {
	background-position: 22.015915119363395% 0;
}

.imx-debate {
	background-position: 22.281167108753316% 0;
}

.imx-debt {
	background-position: 22.546419098143236% 0;
}

.imx-delivery {
	background-position: 22.811671087533156% 0;
}

.imx-dental-floss {
	background-position: 23.076923076923077% 0;
}

.imx-dental-implant {
	background-position: 23.342175066312997% 0;
}

.imx-development {
	background-position: 23.607427055702917% 0;
}

.imx-diabetes {
	background-position: 23.872679045092838% 0;
}

.imx-diamond {
	background-position: 24.137931034482758% 0;
}

.imx-diamond-circled {
	background-position: 24.40318302387268% 0;
}

.imx-diners-club {
	background-position: 24.6684350132626% 0;
}

.imx-discord {
	background-position: 24.93368700265252% 0;
}

.imx-discount {
	background-position: 25.19893899204244% 0;
}

.imx-dividents {
	background-position: 25.46419098143236% 0;
}

.imx-dna {
	background-position: 25.72944297082228% 0;
}

.imx-doctor {
	background-position: 25.9946949602122% 0;
}

.imx-doctors-bag {
	background-position: 26.25994694960212% 0;
}

.imx-does-not-contain {
	background-position: 26.52519893899204% 0;
}

.imx-does-not-end-with {
	background-position: 26.79045092838196% 0;
}

.imx-does-not-start-with {
	background-position: 27.05570291777188% 0;
}

.imx-dollar-circled {
	background-position: 27.320954907161802% 0;
}

.imx-dose {
	background-position: 27.586206896551722% 0;
}

.imx-dribbble {
	background-position: 27.851458885941646% 0;
}

.imx-drop-shipping {
	background-position: 28.116710875331567% 0;
}

.imx-dropbox {
	background-position: 28.381962864721487% 0;
}

.imx-dump-truck {
	background-position: 28.647214854111407% 0;
}

.imx-ebay {
	background-position: 28.912466843501328% 0;
}

.imx-electoral-votes {
	background-position: 29.177718832891248% 0;
}

.imx-embryo {
	background-position: 29.44297082228117% 0;
}

.imx-end-expression {
	background-position: 29.70822281167109% 0;
}

.imx-ends-with {
	background-position: 29.97347480106101% 0;
}

.imx-equals {
	background-position: 30.23872679045093% 0;
}

.imx-estate {
	background-position: 30.50397877984085% 0;
}

.imx-ethereum {
	background-position: 30.76923076923077% 0;
}

.imx-eu-parliament {
	background-position: 31.03448275862069% 0;
}

.imx-euro-circled {
	background-position: 31.29973474801061% 0;
}

.imx-exact-match {
	background-position: 31.56498673740053% 0;
}

.imx-face-id {
	background-position: 31.83023872679045% 0;
}

.imx-facebook {
	background-position: 32.09549071618037% 0;
}

.imx-facebook-messenger {
	background-position: 32.36074270557029% 0;
}

.imx-female-candidate {
	background-position: 32.62599469496021% 0;
}

.imx-fertilization {
	background-position: 32.89124668435013% 0;
}

.imx-file-changes {
	background-position: 33.15649867374005% 0;
}

.imx-file-tree {
	background-position: 33.42175066312998% 0;
}

.imx-financial-insurance {
	background-position: 33.687002652519894% 0;
}

.imx-firefox {
	background-position: 33.95225464190982% 0;
}

.imx-fitness-watch {
	background-position: 34.217506631299734% 0;
}

.imx-foreign-exchange {
	background-position: 34.48275862068966% 0;
}

.imx-forklift-truck {
	background-position: 34.748010610079575% 0;
}

.imx-foundation {
	background-position: 35.0132625994695% 0;
}

.imx-fountain {
	background-position: 35.278514588859416% 0;
}

.imx-gas-mask {
	background-position: 35.54376657824934% 0;
}

.imx-gift {
	background-position: 35.80901856763926% 0;
}

.imx-git-branch {
	background-position: 36.07427055702918% 0;
}

.imx-git-commit {
	background-position: 36.3395225464191% 0;
}

.imx-git-compare {
	background-position: 36.60477453580902% 0;
}

.imx-git-issue {
	background-position: 36.87002652519894% 0;
}

.imx-git-merge {
	background-position: 37.13527851458886% 0;
}

.imx-github {
	background-position: 37.40053050397878% 0;
}

.imx-gold {
	background-position: 37.6657824933687% 0;
}

.imx-google {
	background-position: 37.93103448275862% 0;
}

.imx-google-drive {
	background-position: 38.19628647214854% 0;
}

.imx-google-hangouts {
	background-position: 38.46153846153846% 0;
}

.imx-google-maps {
	background-position: 38.726790450928384% 0;
}

.imx-google-pay {
	background-position: 38.9920424403183% 0;
}

.imx-google-play {
	background-position: 39.257294429708224% 0;
}

.imx-google-translate {
	background-position: 39.52254641909814% 0;
}

.imx-greater-than {
	background-position: 39.787798408488065% 0;
}

.imx-greater-than-or-equal {
	background-position: 40.05305039787798% 0;
}

.imx-grid {
	background-position: 40.318302387267906% 0;
}

.imx-hammer {
	background-position: 40.58355437665782% 0;
}

.imx-hearing-aid {
	background-position: 40.84880636604775% 0;
}

.imx-heart-care {
	background-position: 41.11405835543766% 0;
}

.imx-heart-monitor {
	background-position: 41.37931034482759% 0;
}

.imx-horn {
	background-position: 41.644562334217504% 0;
}

.imx-hospital {
	background-position: 41.90981432360743% 0;
}

.imx-hospital-bed {
	background-position: 42.175066312997345% 0;
}

.imx-hospital-sign {
	background-position: 42.44031830238727% 0;
}

.imx-idea-generation {
	background-position: 42.705570291777185% 0;
}

.imx-impact-drill {
	background-position: 42.97082228116711% 0;
}

.imx-inspect-code {
	background-position: 43.236074270557026% 0;
}

.imx-instagram {
	background-position: 43.50132625994695% 0;
}

.imx-internet-explorer {
	background-position: 43.76657824933687% 0;
}

.imx-invoice {
	background-position: 44.03183023872679% 0;
}

.imx-ios {
	background-position: 44.29708222811671% 0;
}

.imx-is-after {
	background-position: 44.56233421750663% 0;
}

.imx-is-before {
	background-position: 44.827586206896555% 0;
}

.imx-is-empty {
	background-position: 45.09283819628647% 0;
}

.imx-is-false {
	background-position: 45.358090185676396% 0;
}

.imx-is-not-null {
	background-position: 45.62334217506631% 0;
}

.imx-is-null {
	background-position: 45.88859416445624% 0;
}

.imx-is-true {
	background-position: 46.15384615384615% 0;
}

.imx-jsfiddle {
	background-position: 46.41909814323608% 0;
}

.imx-jump-down {
	background-position: 46.684350132625994% 0;
}

.imx-jump-up {
	background-position: 46.94960212201592% 0;
}

.imx-keep-away-from-children {
	background-position: 47.214854111405835% 0;
}

.imx-ladder {
	background-position: 47.48010610079576% 0;
}

.imx-last-month {
	background-position: 47.745358090185675% 0;
}

.imx-last-quarter {
	background-position: 48.0106100795756% 0;
}

.imx-last-week {
	background-position: 48.275862068965516% 0;
}

.imx-last-year {
	background-position: 48.54111405835544% 0;
}

.imx-legal-document {
	background-position: 48.80636604774536% 0;
}

.imx-less-than {
	background-position: 49.07161803713528% 0;
}

.imx-less-than-or-equal {
	background-position: 49.3368700265252% 0;
}

.imx-linkedin {
	background-position: 49.60212201591512% 0;
}

.imx-loan {
	background-position: 49.86737400530504% 0;
}

.imx-maestro {
	background-position: 50.13262599469496% 0;
}

.imx-maintenance {
	background-position: 50.39787798408488% 0;
}

.imx-male-candidate {
	background-position: 50.6631299734748% 0;
}

.imx-mask-1 {
	background-position: 50.92838196286472% 0;
}

.imx-mask-2 {
	background-position: 51.19363395225464% 0;
}

.imx-massage {
	background-position: 51.45888594164456% 0;
}

.imx-mastercard {
	background-position: 51.724137931034484% 0;
}

.imx-match {
	background-position: 51.9893899204244% 0;
}

.imx-medical-book {
	background-position: 52.254641909814325% 0;
}

.imx-medicine {
	background-position: 52.51989389920424% 0;
}

.imx-medium {
	background-position: 52.785145888594165% 0;
}

.imx-microorganisms {
	background-position: 53.05039787798408% 0;
}

.imx-microscope {
	background-position: 53.315649867374006% 0;
}

.imx-microsoft {
	background-position: 53.58090185676392% 0;
}

.imx-milestone {
	background-position: 53.84615384615385% 0;
}

.imx-module {
	background-position: 54.11140583554376% 0;
}

.imx-money-bag {
	background-position: 54.37665782493369% 0;
}

.imx-month {
	background-position: 54.641909814323604% 0;
}

.imx-ms-edge {
	background-position: 54.90716180371353% 0;
}

.imx-ms-excel {
	background-position: 55.172413793103445% 0;
}

.imx-ms-office {
	background-position: 55.43766578249337% 0;
}

.imx-ms-outlook {
	background-position: 55.70291777188329% 0;
}

.imx-ms-powerpoint {
	background-position: 55.96816976127321% 0;
}

.imx-ms-teams {
	background-position: 56.23342175066313% 0;
}

.imx-ms-word {
	background-position: 56.49867374005305% 0;
}

.imx-next-month {
	background-position: 56.763925729442974% 0;
}

.imx-next-quarter {
	background-position: 57.02917771883289% 0;
}

.imx-next-week {
	background-position: 57.294429708222815% 0;
}

.imx-next-year {
	background-position: 57.55968169761273% 0;
}

.imx-not-empty {
	background-position: 57.824933687002655% 0;
}

.imx-not-equal {
	background-position: 58.09018567639257% 0;
}

.imx-nurse {
	background-position: 58.355437665782496% 0;
}

.imx-oil {
	background-position: 58.62068965517241% 0;
}

.imx-oil-platform {
	background-position: 58.88594164456234% 0;
}

.imx-onedrive {
	background-position: 59.15119363395225% 0;
}

.imx-opera {
	background-position: 59.41644562334218% 0;
}

.imx-pacifier {
	background-position: 59.681697612732094% 0;
}

.imx-paint-roller {
	background-position: 59.94694960212202% 0;
}

.imx-parliament-1 {
	background-position: 60.212201591511935% 0;
}

.imx-parliament-2 {
	background-position: 60.47745358090186% 0;
}

.imx-pay-date {
	background-position: 60.742705570291776% 0;
}

.imx-paypal {
	background-position: 61.0079575596817% 0;
}

.imx-piggy-bank {
	background-position: 61.273209549071616% 0;
}

.imx-pill {
	background-position: 61.53846153846154% 0;
}

.imx-pin-left {
	background-position: 61.80371352785146% 0;
}

.imx-pin-right {
	background-position: 62.06896551724138% 0;
}

.imx-pinterest {
	background-position: 62.3342175066313% 0;
}

.imx-pipes {
	background-position: 62.59946949602122% 0;
}

.imx-piping-system {
	background-position: 62.86472148541114% 0;
}

.imx-plastic-surgery {
	background-position: 63.12997347480106% 0;
}

.imx-pliers {
	background-position: 63.39522546419098% 0;
}

.imx-plugin {
	background-position: 63.6604774535809% 0;
}

.imx-pneumatic-hammer-drill {
	background-position: 63.92572944297082% 0;
}

.imx-poop {
	background-position: 64.19098143236074% 0;
}

.imx-popular-votes {
	background-position: 64.45623342175067% 0;
}

.imx-pound-circled {
	background-position: 64.72148541114058% 0;
}

.imx-pregnancy-no-alcohol {
	background-position: 64.9867374005305% 0;
}

.imx-previous-quarter {
	background-position: 65.25198938992042% 0;
}

.imx-previous-week {
	background-position: 65.51724137931035% 0;
}

.imx-project-revenue {
	background-position: 65.78249336870026% 0;
}

.imx-protester-signs {
	background-position: 66.04774535809018% 0;
}

.imx-pull-request {
	background-position: 66.3129973474801% 0;
}

.imx-pulse {
	background-position: 66.57824933687003% 0;
}

.imx-quarter-four {
	background-position: 66.84350132625995% 0;
}

.imx-quarter-one {
	background-position: 67.10875331564986% 0;
}

.imx-quarter-three {
	background-position: 67.37400530503979% 0;
}

.imx-quarter-two {
	background-position: 67.63925729442971% 0;
}

.imx-radiator {
	background-position: 67.90450928381964% 0;
}

.imx-radioactive {
	background-position: 68.16976127320955% 0;
}

.imx-reddit {
	background-position: 68.43501326259947% 0;
}

.imx-repository {
	background-position: 68.70026525198939% 0;
}

.imx-responsive-layout {
	background-position: 68.96551724137932% 0;
}

.imx-restricted-area {
	background-position: 69.23076923076923% 0;
}

.imx-results-by-candidates {
	background-position: 69.49602122015915% 0;
}

.imx-results-piechart {
	background-position: 69.76127320954907% 0;
}

.imx-rh-negative {
	background-position: 70.026525198939% 0;
}

.imx-rh-positive {
	background-position: 70.29177718832891% 0;
}

.imx-road-roller {
	background-position: 70.55702917771883% 0;
}

.imx-rod-of-asclepius {
	background-position: 70.82228116710876% 0;
}

.imx-rulers {
	background-position: 71.08753315649868% 0;
}

.imx-safari {
	background-position: 71.35278514588859% 0;
}

.imx-safety-vest {
	background-position: 71.61803713527851% 0;
}

.imx-sale {
	background-position: 71.88328912466844% 0;
}

.imx-sass {
	background-position: 72.14854111405836% 0;
}

.imx-saw {
	background-position: 72.41379310344827% 0;
}

.imx-scales-balanced {
	background-position: 72.6790450928382% 0;
}

.imx-scales-unbalanced {
	background-position: 72.94429708222812% 0;
}

.imx-scissor-lift {
	background-position: 73.20954907161804% 0;
}

.imx-screwdriver {
	background-position: 73.47480106100795% 0;
}

.imx-security-1 {
	background-position: 73.74005305039788% 0;
}

.imx-security-2 {
	background-position: 74.0053050397878% 0;
}

.imx-severity {
	background-position: 74.27055702917772% 0;
}

.imx-shovel {
	background-position: 74.53580901856763% 0;
}

.imx-sign-language {
	background-position: 74.80106100795756% 0;
}

.imx-skype {
	background-position: 75.06631299734748% 0;
}

.imx-skyscrapers {
	background-position: 75.3315649867374% 0;
}

.imx-slack {
	background-position: 75.59681697612731% 0;
}

.imx-snapchat {
	background-position: 75.86206896551724% 0;
}

.imx-sneeze {
	background-position: 76.12732095490716% 0;
}

.imx-software-architecture {
	background-position: 76.39257294429709% 0;
}

.imx-software-installer {
	background-position: 76.657824933687% 0;
}

.imx-solar-panel {
	background-position: 76.92307692307692% 0;
}

.imx-soldering-iron {
	background-position: 77.18832891246684% 0;
}

.imx-soundcloud {
	background-position: 77.45358090185677% 0;
}

.imx-source-code {
	background-position: 77.71883289124668% 0;
}

.imx-spotify {
	background-position: 77.9840848806366% 0;
}

.imx-stackoverflow {
	background-position: 78.24933687002653% 0;
}

.imx-stairs {
	background-position: 78.51458885941645% 0;
}

.imx-start-expression {
	background-position: 78.77984084880637% 0;
}

.imx-starts-with {
	background-position: 79.04509283819628% 0;
}

.imx-stats {
	background-position: 79.3103448275862% 0;
}

.imx-steam {
	background-position: 79.57559681697613% 0;
}

.imx-stethoscope {
	background-position: 79.84084880636605% 0;
}

.imx-stop-hand {
	background-position: 80.10610079575596% 0;
}

.imx-strategy {
	background-position: 80.37135278514589% 0;
}

.imx-stretcher {
	background-position: 80.63660477453581% 0;
}

.imx-stripe {
	background-position: 80.90185676392574% 0;
}

.imx-syringe {
	background-position: 81.16710875331565% 0;
}

.imx-system-update {
	background-position: 81.43236074270557% 0;
}

.imx-table-saw-blade {
	background-position: 81.6976127320955% 0;
}

.imx-tap-water {
	background-position: 81.96286472148542% 0;
}

.imx-tapeline {
	background-position: 82.22811671087533% 0;
}

.imx-teeth {
	background-position: 82.49336870026525% 0;
}

.imx-telegram {
	background-position: 82.75862068965517% 0;
}

.imx-thermometer {
	background-position: 83.0238726790451% 0;
}

.imx-this-month {
	background-position: 83.28912466843501% 0;
}

.imx-this-quarter {
	background-position: 83.55437665782493% 0;
}

.imx-this-week {
	background-position: 83.81962864721486% 0;
}

.imx-this-year {
	background-position: 84.08488063660478% 0;
}

.imx-tiktok {
	background-position: 84.35013262599469% 0;
}

.imx-timeline {
	background-position: 84.61538461538461% 0;
}

.imx-tinder {
	background-position: 84.88063660477454% 0;
}

.imx-today {
	background-position: 85.14588859416446% 0;
}

.imx-toilet-paper {
	background-position: 85.41114058355437% 0;
}

.imx-tomorrow {
	background-position: 85.6763925729443% 0;
}

.imx-tooth {
	background-position: 85.94164456233422% 0;
}

.imx-tooth-cracked {
	background-position: 86.20689655172414% 0;
}

.imx-top-percentile-records {
	background-position: 86.47214854111405% 0;
}

.imx-top-records {
	background-position: 86.73740053050398% 0;
}

.imx-touch-id {
	background-position: 87.0026525198939% 0;
}

.imx-tow-truck {
	background-position: 87.26790450928382% 0;
}

.imx-towel-rail {
	background-position: 87.53315649867373% 0;
}

.imx-tractor {
	background-position: 87.79840848806366% 0;
}

.imx-trowel {
	background-position: 88.06366047745358% 0;
}

.imx-twitch {
	background-position: 88.3289124668435% 0;
}

.imx-twitter {
	background-position: 88.59416445623341% 0;
}

.imx-ungroup {
	background-position: 88.85941644562334% 0;
}

.imx-unpin-left {
	background-position: 89.12466843501326% 0;
}

.imx-unpin-right {
	background-position: 89.38992042440319% 0;
}

.imx-usa-ca {
	background-position: 89.65517241379311% 0;
}

.imx-usa-fl {
	background-position: 89.92042440318302% 0;
}

.imx-usa-lower-48-states {
	background-position: 90.18567639257294% 0;
}

.imx-usa-ny {
	background-position: 90.45092838196287% 0;
}

.imx-usa-party-democratic {
	background-position: 90.71618037135279% 0;
}

.imx-usa-party-green {
	background-position: 90.9814323607427% 0;
}

.imx-usa-party-libertarian {
	background-position: 91.24668435013263% 0;
}

.imx-usa-party-republican {
	background-position: 91.51193633952255% 0;
}

.imx-usa-tx {
	background-position: 91.77718832891247% 0;
}

.imx-usb {
	background-position: 92.04244031830238% 0;
}

.imx-verified-account {
	background-position: 92.3076923076923% 0;
}

.imx-veterinarian {
	background-position: 92.57294429708223% 0;
}

.imx-vial {
	background-position: 92.83819628647215% 0;
}

.imx-viber {
	background-position: 93.10344827586206% 0;
}

.imx-vimeo {
	background-position: 93.36870026525199% 0;
}

.imx-virus {
	background-position: 93.63395225464191% 0;
}

.imx-virus-protection {
	background-position: 93.89920424403184% 0;
}

.imx-virus-stop {
	background-position: 94.16445623342175% 0;
}

.imx-visa {
	background-position: 94.42970822281167% 0;
}

.imx-visually-impaired {
	background-position: 94.6949602122016% 0;
}

.imx-vote {
	background-position: 94.96021220159152% 0;
}

.imx-vs-code {
	background-position: 95.22546419098143% 0;
}

.imx-water-boiler {
	background-position: 95.49071618037135% 0;
}

.imx-water-heater {
	background-position: 95.75596816976127% 0;
}

.imx-water-tap {
	background-position: 96.0212201591512% 0;
}

.imx-wechat {
	background-position: 96.28647214854111% 0;
}

.imx-weight-scale {
	background-position: 96.55172413793103% 0;
}

.imx-whatsapp {
	background-position: 96.81697612732096% 0;
}

.imx-white-house-1 {
	background-position: 97.08222811671088% 0;
}

.imx-white-house-2 {
	background-position: 97.34748010610079% 0;
}

.imx-wire-transfer {
	background-position: 97.61273209549071% 0;
}

.imx-worker {
	background-position: 97.87798408488064% 0;
}

.imx-workers {
	background-position: 98.14323607427056% 0;
}

.imx-workflow {
	background-position: 98.40848806366047% 0;
}

.imx-wrench {
	background-position: 98.6737400530504% 0;
}

.imx-year {
	background-position: 98.93899204244032% 0;
}

.imx-year-to-date {
	background-position: 99.20424403183024% 0;
}

.imx-yen-circled {
	background-position: 99.46949602122015% 0;
}

.imx-yesterday {
	background-position: 99.73474801061008% 0;
}

.imx-youtube {
	background-position: 100% 0;
}

