.imx-icon() {
	background: url("svg/sprite.css-068edc35.svg") no-repeat;
}

.imx-icon {
	.imx-icon();
}

.imx-accessibility {
	background-position: 0 0;
}

.imx-add-child {
	background-position: 0.33222591362126247% 0;
}

.imx-add-filter {
	background-position: 0.6644518272425249% 0;
}

.imx-add-row {
	background-position: 0.9966777408637874% 0;
}

.imx-aggregation {
	background-position: 1.3289036544850499% 0;
}

.imx-aids-ribbon {
	background-position: 1.6611295681063123% 0;
}

.imx-all {
	background-position: 1.9933554817275747% 0;
}

.imx-amazon {
	background-position: 2.3255813953488373% 0;
}

.imx-ambulance {
	background-position: 2.6578073089700998% 0;
}

.imx-american-express {
	background-position: 2.990033222591362% 0;
}

.imx-anxiety {
	background-position: 3.3222591362126246% 0;
}

.imx-api {
	background-position: 3.654485049833887% 0;
}

.imx-app-symbol {
	background-position: 3.9867109634551494% 0;
}

.imx-apple {
	background-position: 4.318936877076412% 0;
}

.imx-apple-app-store {
	background-position: 4.651162790697675% 0;
}

.imx-apple-pay {
	background-position: 4.983388704318937% 0;
}

.imx-atm {
	background-position: 5.3156146179401995% 0;
}

.imx-atm-dollar {
	background-position: 5.647840531561462% 0;
}

.imx-atm-euro {
	background-position: 5.980066445182724% 0;
}

.imx-atm-pound {
	background-position: 6.312292358803987% 0;
}

.imx-atm-yen {
	background-position: 6.644518272425249% 0;
}

.imx-auction {
	background-position: 6.976744186046512% 0;
}

.imx-award {
	background-position: 7.308970099667774% 0;
}

.imx-baby-bottle {
	background-position: 7.641196013289036% 0;
}

.imx-bacteria {
	background-position: 7.973421926910299% 0;
}

.imx-bandage {
	background-position: 8.305647840531561% 0;
}

.imx-bank-safe {
	background-position: 8.637873754152825% 0;
}

.imx-barcode {
	background-position: 8.970099667774086% 0;
}

.imx-battlenet {
	background-position: 9.30232558139535% 0;
}

.imx-bear-market {
	background-position: 9.634551495016611% 0;
}

.imx-behance {
	background-position: 9.966777408637874% 0;
}

.imx-bill-paid {
	background-position: 10.299003322259136% 0;
}

.imx-biohazard {
	background-position: 10.631229235880399% 0;
}

.imx-bitcoin {
	background-position: 10.96345514950166% 0;
}

.imx-blood {
	background-position: 11.295681063122924% 0;
}

.imx-blu-ray {
	background-position: 11.627906976744185% 0;
}

.imx-box {
	background-position: 11.960132890365449% 0;
}

.imx-braille {
	background-position: 12.29235880398671% 0;
}

.imx-breastfeeding {
	background-position: 12.624584717607974% 0;
}

.imx-budget-spending {
	background-position: 12.956810631229235% 0;
}

.imx-bug {
	background-position: 13.289036544850498% 0;
}

.imx-bull-market {
	background-position: 13.621262458471762% 0;
}

.imx-business-development {
	background-position: 13.953488372093023% 0;
}

.imx-caduceus {
	background-position: 14.285714285714286% 0;
}

.imx-calculator {
	background-position: 14.617940199335548% 0;
}

.imx-cancer-ribbon {
	background-position: 14.950166112956811% 0;
}

.imx-candidate-results {
	background-position: 15.282392026578073% 0;
}

.imx-case-sensitive {
	background-position: 15.614617940199336% 0;
}

.imx-cash-1 {
	background-position: 15.946843853820598% 0;
}

.imx-cash-2 {
	background-position: 16.27906976744186% 0;
}

.imx-cash-only {
	background-position: 16.611295681063122% 0;
}

.imx-certificate {
	background-position: 16.943521594684384% 0;
}

.imx-check {
	background-position: 17.27574750830565% 0;
}

.imx-chrome {
	background-position: 17.60797342192691% 0;
}

.imx-clinic {
	background-position: 17.940199335548172% 0;
}

.imx-code {
	background-position: 18.272425249169434% 0;
}

.imx-code-fork {
	background-position: 18.6046511627907% 0;
}

.imx-code-review {
	background-position: 18.93687707641196% 0;
}

.imx-commodities {
	background-position: 19.269102990033222% 0;
}

.imx-condom {
	background-position: 19.601328903654483% 0;
}

.imx-condom-used {
	background-position: 19.93355481727575% 0;
}

.imx-console {
	background-position: 20.26578073089701% 0;
}

.imx-contains {
	background-position: 20.59800664451827% 0;
}

.imx-contraception {
	background-position: 20.930232558139537% 0;
}

.imx-coronavirus {
	background-position: 21.262458471760798% 0;
}

.imx-credit-cards {
	background-position: 21.59468438538206% 0;
}

.imx-credit-control {
	background-position: 21.92691029900332% 0;
}

.imx-crowdfunding {
	background-position: 22.259136212624586% 0;
}

.imx-deafness {
	background-position: 22.591362126245848% 0;
}

.imx-debate {
	background-position: 22.92358803986711% 0;
}

.imx-debt {
	background-position: 23.25581395348837% 0;
}

.imx-delivery {
	background-position: 23.588039867109636% 0;
}

.imx-dental-floss {
	background-position: 23.920265780730897% 0;
}

.imx-dental-implant {
	background-position: 24.25249169435216% 0;
}

.imx-development {
	background-position: 24.58471760797342% 0;
}

.imx-diabetes {
	background-position: 24.916943521594686% 0;
}

.imx-diamond {
	background-position: 25.249169435215947% 0;
}

.imx-diamond-circled {
	background-position: 25.58139534883721% 0;
}

.imx-diners-club {
	background-position: 25.91362126245847% 0;
}

.imx-discord {
	background-position: 26.245847176079735% 0;
}

.imx-discount {
	background-position: 26.578073089700997% 0;
}

.imx-dividents {
	background-position: 26.910299003322258% 0;
}

.imx-dna {
	background-position: 27.242524916943523% 0;
}

.imx-doctor {
	background-position: 27.574750830564785% 0;
}

.imx-doctors-bag {
	background-position: 27.906976744186046% 0;
}

.imx-does-not-contain {
	background-position: 28.239202657807308% 0;
}

.imx-dollar-circled {
	background-position: 28.571428571428573% 0;
}

.imx-dose {
	background-position: 28.903654485049834% 0;
}

.imx-dribbble {
	background-position: 29.235880398671096% 0;
}

.imx-drop-shipping {
	background-position: 29.568106312292358% 0;
}

.imx-dropbox {
	background-position: 29.900332225913623% 0;
}

.imx-ebay {
	background-position: 30.232558139534884% 0;
}

.imx-electoral-votes {
	background-position: 30.564784053156146% 0;
}

.imx-embryo {
	background-position: 30.897009966777407% 0;
}

.imx-end-expression {
	background-position: 31.229235880398672% 0;
}

.imx-ends-with {
	background-position: 31.561461794019934% 0;
}

.imx-equals {
	background-position: 31.893687707641195% 0;
}

.imx-ethereum {
	background-position: 32.22591362126246% 0;
}

.imx-eu-parliament {
	background-position: 32.55813953488372% 0;
}

.imx-euro-circled {
	background-position: 32.89036544850498% 0;
}

.imx-exact-match {
	background-position: 33.222591362126245% 0;
}

.imx-face-id {
	background-position: 33.55481727574751% 0;
}

.imx-facebook {
	background-position: 33.88704318936877% 0;
}

.imx-facebook-messenger {
	background-position: 34.21926910299003% 0;
}

.imx-female-candidate {
	background-position: 34.5514950166113% 0;
}

.imx-fertilization {
	background-position: 34.883720930232556% 0;
}

.imx-file-changes {
	background-position: 35.21594684385382% 0;
}

.imx-file-tree {
	background-position: 35.548172757475086% 0;
}

.imx-financial-insurance {
	background-position: 35.880398671096344% 0;
}

.imx-firefox {
	background-position: 36.21262458471761% 0;
}

.imx-fitness-watch {
	background-position: 36.54485049833887% 0;
}

.imx-foreign-exchange {
	background-position: 36.87707641196013% 0;
}

.imx-gas-mask {
	background-position: 37.2093023255814% 0;
}

.imx-gift {
	background-position: 37.541528239202655% 0;
}

.imx-git-branch {
	background-position: 37.87375415282392% 0;
}

.imx-git-commit {
	background-position: 38.205980066445186% 0;
}

.imx-git-compare {
	background-position: 38.538205980066444% 0;
}

.imx-git-issue {
	background-position: 38.87043189368771% 0;
}

.imx-git-merge {
	background-position: 39.20265780730897% 0;
}

.imx-github {
	background-position: 39.53488372093023% 0;
}

.imx-gold {
	background-position: 39.8671096345515% 0;
}

.imx-google {
	background-position: 40.199335548172755% 0;
}

.imx-google-drive {
	background-position: 40.53156146179402% 0;
}

.imx-google-hangouts {
	background-position: 40.863787375415285% 0;
}

.imx-google-maps {
	background-position: 41.19601328903654% 0;
}

.imx-google-pay {
	background-position: 41.52823920265781% 0;
}

.imx-google-play {
	background-position: 41.86046511627907% 0;
}

.imx-google-translate {
	background-position: 42.19269102990033% 0;
}

.imx-greater-than {
	background-position: 42.524916943521596% 0;
}

.imx-greater-than-or-equal {
	background-position: 42.857142857142854% 0;
}

.imx-grid {
	background-position: 43.18936877076412% 0;
}

.imx-hearing-aid {
	background-position: 43.521594684385384% 0;
}

.imx-heart-care {
	background-position: 43.85382059800664% 0;
}

.imx-heart-monitor {
	background-position: 44.18604651162791% 0;
}

.imx-horn {
	background-position: 44.51827242524917% 0;
}

.imx-hospital {
	background-position: 44.85049833887043% 0;
}

.imx-hospital-bed {
	background-position: 45.182724252491695% 0;
}

.imx-hospital-sign {
	background-position: 45.51495016611295% 0;
}

.imx-idea-generation {
	background-position: 45.84717607973422% 0;
}

.imx-inspect-code {
	background-position: 46.179401993355484% 0;
}

.imx-instagram {
	background-position: 46.51162790697674% 0;
}

.imx-internet-explorer {
	background-position: 46.84385382059801% 0;
}

.imx-invoice {
	background-position: 47.17607973421927% 0;
}

.imx-ios {
	background-position: 47.50830564784053% 0;
}

.imx-is-after {
	background-position: 47.840531561461795% 0;
}

.imx-is-before {
	background-position: 48.17275747508306% 0;
}

.imx-is-empty {
	background-position: 48.50498338870432% 0;
}

.imx-is-false {
	background-position: 48.83720930232558% 0;
}

.imx-is-not-null {
	background-position: 49.16943521594684% 0;
}

.imx-is-null {
	background-position: 49.501661129568106% 0;
}

.imx-is-true {
	background-position: 49.83388704318937% 0;
}

.imx-jsfiddle {
	background-position: 50.16611295681063% 0;
}

.imx-jump-down {
	background-position: 50.498338870431894% 0;
}

.imx-jump-up {
	background-position: 50.83056478405316% 0;
}

.imx-keep-away-from-children {
	background-position: 51.16279069767442% 0;
}

.imx-last-month {
	background-position: 51.49501661129568% 0;
}

.imx-last-year {
	background-position: 51.82724252491694% 0;
}

.imx-legal-document {
	background-position: 52.159468438538205% 0;
}

.imx-less-than {
	background-position: 52.49169435215947% 0;
}

.imx-less-than-or-equal {
	background-position: 52.82392026578073% 0;
}

.imx-linkedin {
	background-position: 53.15614617940199% 0;
}

.imx-loan {
	background-position: 53.48837209302326% 0;
}

.imx-maestro {
	background-position: 53.820598006644516% 0;
}

.imx-male-candidate {
	background-position: 54.15282392026578% 0;
}

.imx-mask-1 {
	background-position: 54.48504983388705% 0;
}

.imx-mask-2 {
	background-position: 54.817275747508305% 0;
}

.imx-massage {
	background-position: 55.14950166112957% 0;
}

.imx-mastercard {
	background-position: 55.48172757475083% 0;
}

.imx-match {
	background-position: 55.81395348837209% 0;
}

.imx-medical-book {
	background-position: 56.14617940199336% 0;
}

.imx-medicine {
	background-position: 56.478405315614616% 0;
}

.imx-medium {
	background-position: 56.81063122923588% 0;
}

.imx-microorganisms {
	background-position: 57.142857142857146% 0;
}

.imx-microscope {
	background-position: 57.475083056478404% 0;
}

.imx-microsoft {
	background-position: 57.80730897009967% 0;
}

.imx-milestone {
	background-position: 58.13953488372093% 0;
}

.imx-module {
	background-position: 58.47176079734219% 0;
}

.imx-money-bag {
	background-position: 58.80398671096346% 0;
}

.imx-ms-edge {
	background-position: 59.136212624584715% 0;
}

.imx-ms-excel {
	background-position: 59.46843853820598% 0;
}

.imx-ms-office {
	background-position: 59.800664451827245% 0;
}

.imx-ms-outlook {
	background-position: 60.1328903654485% 0;
}

.imx-ms-powerpoint {
	background-position: 60.46511627906977% 0;
}

.imx-ms-teams {
	background-position: 60.79734219269103% 0;
}

.imx-ms-word {
	background-position: 61.12956810631229% 0;
}

.imx-next-month {
	background-position: 61.461794019933556% 0;
}

.imx-next-year {
	background-position: 61.794019933554814% 0;
}

.imx-not-empty {
	background-position: 62.12624584717608% 0;
}

.imx-not-equal {
	background-position: 62.458471760797345% 0;
}

.imx-nurse {
	background-position: 62.7906976744186% 0;
}

.imx-oil {
	background-position: 63.12292358803987% 0;
}

.imx-onedrive {
	background-position: 63.45514950166113% 0;
}

.imx-opera {
	background-position: 63.78737541528239% 0;
}

.imx-pacifier {
	background-position: 64.11960132890366% 0;
}

.imx-parliament-1 {
	background-position: 64.45182724252491% 0;
}

.imx-parliament-2 {
	background-position: 64.78405315614619% 0;
}

.imx-pay-date {
	background-position: 65.11627906976744% 0;
}

.imx-paypal {
	background-position: 65.4485049833887% 0;
}

.imx-piggy-bank {
	background-position: 65.78073089700996% 0;
}

.imx-pill {
	background-position: 66.11295681063123% 0;
}

.imx-pin-left {
	background-position: 66.44518272425249% 0;
}

.imx-pin-right {
	background-position: 66.77740863787375% 0;
}

.imx-pinterest {
	background-position: 67.10963455149502% 0;
}

.imx-plastic-surgery {
	background-position: 67.44186046511628% 0;
}

.imx-plugin {
	background-position: 67.77408637873754% 0;
}

.imx-poop {
	background-position: 68.10631229235881% 0;
}

.imx-popular-votes {
	background-position: 68.43853820598007% 0;
}

.imx-pound-circled {
	background-position: 68.77076411960132% 0;
}

.imx-pregnancy-no-alcohol {
	background-position: 69.1029900332226% 0;
}

.imx-project-revenue {
	background-position: 69.43521594684385% 0;
}

.imx-protester-signs {
	background-position: 69.76744186046511% 0;
}

.imx-pull-request {
	background-position: 70.09966777408638% 0;
}

.imx-pulse {
	background-position: 70.43189368770764% 0;
}

.imx-radioactive {
	background-position: 70.7641196013289% 0;
}

.imx-reddit {
	background-position: 71.09634551495017% 0;
}

.imx-repository {
	background-position: 71.42857142857143% 0;
}

.imx-responsive-layout {
	background-position: 71.76079734219269% 0;
}

.imx-results-by-candidates {
	background-position: 72.09302325581395% 0;
}

.imx-results-piechart {
	background-position: 72.42524916943522% 0;
}

.imx-rh-negative {
	background-position: 72.75747508305648% 0;
}

.imx-rh-positive {
	background-position: 73.08970099667773% 0;
}

.imx-rod-of-asclepius {
	background-position: 73.421926910299% 0;
}

.imx-safari {
	background-position: 73.75415282392026% 0;
}

.imx-sale {
	background-position: 74.08637873754152% 0;
}

.imx-sass {
	background-position: 74.4186046511628% 0;
}

.imx-scales-balanced {
	background-position: 74.75083056478405% 0;
}

.imx-scales-unbalanced {
	background-position: 75.08305647840531% 0;
}

.imx-security-1 {
	background-position: 75.41528239202658% 0;
}

.imx-security-2 {
	background-position: 75.74750830564784% 0;
}

.imx-severity {
	background-position: 76.0797342192691% 0;
}

.imx-sign-language {
	background-position: 76.41196013289037% 0;
}

.imx-skype {
	background-position: 76.74418604651163% 0;
}

.imx-slack {
	background-position: 77.07641196013289% 0;
}

.imx-snapchat {
	background-position: 77.40863787375416% 0;
}

.imx-sneeze {
	background-position: 77.74086378737542% 0;
}

.imx-software-architecture {
	background-position: 78.07308970099668% 0;
}

.imx-software-installer {
	background-position: 78.40531561461793% 0;
}

.imx-soundcloud {
	background-position: 78.7375415282392% 0;
}

.imx-source-code {
	background-position: 79.06976744186046% 0;
}

.imx-spotify {
	background-position: 79.40199335548172% 0;
}

.imx-stackoverflow {
	background-position: 79.734219269103% 0;
}

.imx-start-expression {
	background-position: 80.06644518272425% 0;
}

.imx-starts-with {
	background-position: 80.39867109634551% 0;
}

.imx-stats {
	background-position: 80.73089700996678% 0;
}

.imx-steam {
	background-position: 81.06312292358804% 0;
}

.imx-stethoscope {
	background-position: 81.3953488372093% 0;
}

.imx-strategy {
	background-position: 81.72757475083057% 0;
}

.imx-stretcher {
	background-position: 82.05980066445183% 0;
}

.imx-stripe {
	background-position: 82.39202657807309% 0;
}

.imx-syringe {
	background-position: 82.72425249169436% 0;
}

.imx-system-update {
	background-position: 83.05647840531562% 0;
}

.imx-teeth {
	background-position: 83.38870431893687% 0;
}

.imx-telegram {
	background-position: 83.72093023255815% 0;
}

.imx-thermometer {
	background-position: 84.0531561461794% 0;
}

.imx-this-month {
	background-position: 84.38538205980066% 0;
}

.imx-this-year {
	background-position: 84.71760797342192% 0;
}

.imx-tiktok {
	background-position: 85.04983388704319% 0;
}

.imx-timeline {
	background-position: 85.38205980066445% 0;
}

.imx-tinder {
	background-position: 85.71428571428571% 0;
}

.imx-today {
	background-position: 86.04651162790698% 0;
}

.imx-toilet-paper {
	background-position: 86.37873754152824% 0;
}

.imx-tomorrow {
	background-position: 86.7109634551495% 0;
}

.imx-tooth {
	background-position: 87.04318936877077% 0;
}

.imx-tooth-cracked {
	background-position: 87.37541528239203% 0;
}

.imx-touch-id {
	background-position: 87.70764119601328% 0;
}

.imx-twitch {
	background-position: 88.03986710963456% 0;
}

.imx-twitter {
	background-position: 88.37209302325581% 0;
}

.imx-ungroup {
	background-position: 88.70431893687707% 0;
}

.imx-unpin-left {
	background-position: 89.03654485049834% 0;
}

.imx-unpin-right {
	background-position: 89.3687707641196% 0;
}

.imx-usa-ca {
	background-position: 89.70099667774086% 0;
}

.imx-usa-fl {
	background-position: 90.03322259136213% 0;
}

.imx-usa-lower-48-states {
	background-position: 90.36544850498339% 0;
}

.imx-usa-ny {
	background-position: 90.69767441860465% 0;
}

.imx-usa-party-democratic {
	background-position: 91.0299003322259% 0;
}

.imx-usa-party-green {
	background-position: 91.36212624584718% 0;
}

.imx-usa-party-libertarian {
	background-position: 91.69435215946844% 0;
}

.imx-usa-party-republican {
	background-position: 92.0265780730897% 0;
}

.imx-usa-tx {
	background-position: 92.35880398671097% 0;
}

.imx-usb {
	background-position: 92.69102990033223% 0;
}

.imx-verified-account {
	background-position: 93.02325581395348% 0;
}

.imx-veterinarian {
	background-position: 93.35548172757476% 0;
}

.imx-vial {
	background-position: 93.68770764119601% 0;
}

.imx-viber {
	background-position: 94.01993355481727% 0;
}

.imx-vimeo {
	background-position: 94.35215946843854% 0;
}

.imx-virus {
	background-position: 94.6843853820598% 0;
}

.imx-virus-protection {
	background-position: 95.01661129568106% 0;
}

.imx-virus-stop {
	background-position: 95.34883720930233% 0;
}

.imx-visa {
	background-position: 95.68106312292359% 0;
}

.imx-visually-impaired {
	background-position: 96.01328903654485% 0;
}

.imx-vote {
	background-position: 96.34551495016612% 0;
}

.imx-vs-code {
	background-position: 96.67774086378738% 0;
}

.imx-wechat {
	background-position: 97.00996677740864% 0;
}

.imx-weight-scale {
	background-position: 97.3421926910299% 0;
}

.imx-whatsapp {
	background-position: 97.67441860465117% 0;
}

.imx-white-house-1 {
	background-position: 98.00664451827242% 0;
}

.imx-white-house-2 {
	background-position: 98.33887043189368% 0;
}

.imx-wire-transfer {
	background-position: 98.67109634551495% 0;
}

.imx-workflow {
	background-position: 99.00332225913621% 0;
}

.imx-yen-circled {
	background-position: 99.33554817275747% 0;
}

.imx-yesterday {
	background-position: 99.66777408637874% 0;
}

.imx-youtube {
	background-position: 100% 0;
}

