.imx-icon() {
	background: url("svg/sprite.css-51d3f762.svg") no-repeat;
}

.imx-icon {
	.imx-icon();
}

.imx-accessibility {
	background-position: 0 0;
}

.imx-add-child {
	background-position: 0.33783783783783783% 0;
}

.imx-add-filter {
	background-position: 0.6756756756756757% 0;
}

.imx-add-row {
	background-position: 1.0135135135135136% 0;
}

.imx-aggregation {
	background-position: 1.3513513513513513% 0;
}

.imx-aids-ribbon {
	background-position: 1.6891891891891893% 0;
}

.imx-all {
	background-position: 2.027027027027027% 0;
}

.imx-amazon {
	background-position: 2.364864864864865% 0;
}

.imx-ambulance {
	background-position: 2.7027027027027026% 0;
}

.imx-american-express {
	background-position: 3.0405405405405403% 0;
}

.imx-anxiety {
	background-position: 3.3783783783783785% 0;
}

.imx-api {
	background-position: 3.7162162162162162% 0;
}

.imx-app-symbol {
	background-position: 4.054054054054054% 0;
}

.imx-apple {
	background-position: 4.391891891891892% 0;
}

.imx-apple-app-store {
	background-position: 4.72972972972973% 0;
}

.imx-apple-pay {
	background-position: 5.0675675675675675% 0;
}

.imx-atm {
	background-position: 5.405405405405405% 0;
}

.imx-atm-dollar {
	background-position: 5.743243243243243% 0;
}

.imx-atm-euro {
	background-position: 6.081081081081081% 0;
}

.imx-atm-pound {
	background-position: 6.418918918918919% 0;
}

.imx-atm-yen {
	background-position: 6.756756756756757% 0;
}

.imx-auction {
	background-position: 7.094594594594595% 0;
}

.imx-award {
	background-position: 7.4324324324324325% 0;
}

.imx-baby-bottle {
	background-position: 7.77027027027027% 0;
}

.imx-bacteria {
	background-position: 8.108108108108109% 0;
}

.imx-bandage {
	background-position: 8.445945945945946% 0;
}

.imx-bank-safe {
	background-position: 8.783783783783784% 0;
}

.imx-barcode {
	background-position: 9.121621621621621% 0;
}

.imx-bear-market {
	background-position: 9.45945945945946% 0;
}

.imx-behance {
	background-position: 9.797297297297296% 0;
}

.imx-bill-paid {
	background-position: 10.135135135135135% 0;
}

.imx-biohazard {
	background-position: 10.472972972972974% 0;
}

.imx-bitcoin {
	background-position: 10.81081081081081% 0;
}

.imx-blood {
	background-position: 11.14864864864865% 0;
}

.imx-blu-ray {
	background-position: 11.486486486486486% 0;
}

.imx-box {
	background-position: 11.824324324324325% 0;
}

.imx-braille {
	background-position: 12.162162162162161% 0;
}

.imx-breastfeeding {
	background-position: 12.5% 0;
}

.imx-budget-spending {
	background-position: 12.837837837837839% 0;
}

.imx-bug {
	background-position: 13.175675675675675% 0;
}

.imx-bull-market {
	background-position: 13.513513513513514% 0;
}

.imx-business-development {
	background-position: 13.85135135135135% 0;
}

.imx-caduceus {
	background-position: 14.18918918918919% 0;
}

.imx-calculator {
	background-position: 14.527027027027026% 0;
}

.imx-cancer-ribbon {
	background-position: 14.864864864864865% 0;
}

.imx-candidate-results {
	background-position: 15.202702702702704% 0;
}

.imx-case-sensitive {
	background-position: 15.54054054054054% 0;
}

.imx-cash-1 {
	background-position: 15.878378378378379% 0;
}

.imx-cash-2 {
	background-position: 16.216216216216218% 0;
}

.imx-cash-only {
	background-position: 16.554054054054053% 0;
}

.imx-certificate {
	background-position: 16.89189189189189% 0;
}

.imx-check {
	background-position: 17.22972972972973% 0;
}

.imx-chrome {
	background-position: 17.56756756756757% 0;
}

.imx-clinic {
	background-position: 17.905405405405407% 0;
}

.imx-code {
	background-position: 18.243243243243242% 0;
}

.imx-code-fork {
	background-position: 18.58108108108108% 0;
}

.imx-code-review {
	background-position: 18.91891891891892% 0;
}

.imx-commodities {
	background-position: 19.256756756756758% 0;
}

.imx-condom {
	background-position: 19.594594594594593% 0;
}

.imx-condom-used {
	background-position: 19.93243243243243% 0;
}

.imx-console {
	background-position: 20.27027027027027% 0;
}

.imx-contains {
	background-position: 20.60810810810811% 0;
}

.imx-contraception {
	background-position: 20.945945945945947% 0;
}

.imx-coronavirus {
	background-position: 21.283783783783782% 0;
}

.imx-credit-cards {
	background-position: 21.62162162162162% 0;
}

.imx-credit-control {
	background-position: 21.95945945945946% 0;
}

.imx-crowdfunding {
	background-position: 22.2972972972973% 0;
}

.imx-deafness {
	background-position: 22.635135135135137% 0;
}

.imx-debate {
	background-position: 22.972972972972972% 0;
}

.imx-debt {
	background-position: 23.31081081081081% 0;
}

.imx-delivery {
	background-position: 23.64864864864865% 0;
}

.imx-dental-floss {
	background-position: 23.986486486486488% 0;
}

.imx-dental-implant {
	background-position: 24.324324324324323% 0;
}

.imx-development {
	background-position: 24.66216216216216% 0;
}

.imx-diabetes {
	background-position: 25% 0;
}

.imx-diamond {
	background-position: 25.33783783783784% 0;
}

.imx-diamond-circled {
	background-position: 25.675675675675677% 0;
}

.imx-diners-club {
	background-position: 26.013513513513512% 0;
}

.imx-discord {
	background-position: 26.35135135135135% 0;
}

.imx-discount {
	background-position: 26.68918918918919% 0;
}

.imx-dividents {
	background-position: 27.027027027027028% 0;
}

.imx-dna {
	background-position: 27.364864864864863% 0;
}

.imx-doctor {
	background-position: 27.7027027027027% 0;
}

.imx-doctors-bag {
	background-position: 28.04054054054054% 0;
}

.imx-does-not-contain {
	background-position: 28.37837837837838% 0;
}

.imx-dollar-circled {
	background-position: 28.716216216216218% 0;
}

.imx-dose {
	background-position: 29.054054054054053% 0;
}

.imx-dribbble {
	background-position: 29.39189189189189% 0;
}

.imx-drop-shipping {
	background-position: 29.72972972972973% 0;
}

.imx-dropbox {
	background-position: 30.06756756756757% 0;
}

.imx-ebay {
	background-position: 30.405405405405407% 0;
}

.imx-electoral-votes {
	background-position: 30.743243243243242% 0;
}

.imx-embryo {
	background-position: 31.08108108108108% 0;
}

.imx-end-expression {
	background-position: 31.41891891891892% 0;
}

.imx-ends-with {
	background-position: 31.756756756756758% 0;
}

.imx-equals {
	background-position: 32.0945945945946% 0;
}

.imx-ethereum {
	background-position: 32.432432432432435% 0;
}

.imx-eu-parliament {
	background-position: 32.770270270270274% 0;
}

.imx-euro-circled {
	background-position: 33.108108108108105% 0;
}

.imx-exact-match {
	background-position: 33.445945945945944% 0;
}

.imx-face-id {
	background-position: 33.78378378378378% 0;
}

.imx-facebook {
	background-position: 34.12162162162162% 0;
}

.imx-facebook-messenger {
	background-position: 34.45945945945946% 0;
}

.imx-female-candidate {
	background-position: 34.7972972972973% 0;
}

.imx-fertilization {
	background-position: 35.13513513513514% 0;
}

.imx-file-changes {
	background-position: 35.472972972972975% 0;
}

.imx-file-tree {
	background-position: 35.810810810810814% 0;
}

.imx-financial-insurance {
	background-position: 36.148648648648646% 0;
}

.imx-firefox {
	background-position: 36.486486486486484% 0;
}

.imx-fitness-watch {
	background-position: 36.82432432432432% 0;
}

.imx-foreign-exchange {
	background-position: 37.16216216216216% 0;
}

.imx-gas-mask {
	background-position: 37.5% 0;
}

.imx-gift {
	background-position: 37.83783783783784% 0;
}

.imx-git-branch {
	background-position: 38.17567567567568% 0;
}

.imx-git-commit {
	background-position: 38.513513513513516% 0;
}

.imx-git-compare {
	background-position: 38.851351351351354% 0;
}

.imx-git-issue {
	background-position: 39.189189189189186% 0;
}

.imx-git-merge {
	background-position: 39.527027027027025% 0;
}

.imx-github {
	background-position: 39.86486486486486% 0;
}

.imx-gold {
	background-position: 40.2027027027027% 0;
}

.imx-google {
	background-position: 40.54054054054054% 0;
}

.imx-google-drive {
	background-position: 40.87837837837838% 0;
}

.imx-google-hangouts {
	background-position: 41.21621621621622% 0;
}

.imx-google-maps {
	background-position: 41.554054054054056% 0;
}

.imx-google-pay {
	background-position: 41.891891891891895% 0;
}

.imx-google-play {
	background-position: 42.229729729729726% 0;
}

.imx-google-translate {
	background-position: 42.567567567567565% 0;
}

.imx-greater-than {
	background-position: 42.9054054054054% 0;
}

.imx-greater-than-or-equal {
	background-position: 43.24324324324324% 0;
}

.imx-grid {
	background-position: 43.58108108108108% 0;
}

.imx-hearing-aid {
	background-position: 43.91891891891892% 0;
}

.imx-heart-care {
	background-position: 44.25675675675676% 0;
}

.imx-heart-monitor {
	background-position: 44.5945945945946% 0;
}

.imx-horn {
	background-position: 44.932432432432435% 0;
}

.imx-hospital {
	background-position: 45.270270270270274% 0;
}

.imx-hospital-bed {
	background-position: 45.608108108108105% 0;
}

.imx-hospital-sign {
	background-position: 45.945945945945944% 0;
}

.imx-idea-generation {
	background-position: 46.28378378378378% 0;
}

.imx-inspect-code {
	background-position: 46.62162162162162% 0;
}

.imx-instagram {
	background-position: 46.95945945945946% 0;
}

.imx-internet-explorer {
	background-position: 47.2972972972973% 0;
}

.imx-invoice {
	background-position: 47.63513513513514% 0;
}

.imx-ios {
	background-position: 47.972972972972975% 0;
}

.imx-is-after {
	background-position: 48.310810810810814% 0;
}

.imx-is-before {
	background-position: 48.648648648648646% 0;
}

.imx-is-empty {
	background-position: 48.986486486486484% 0;
}

.imx-is-false {
	background-position: 49.32432432432432% 0;
}

.imx-is-not-null {
	background-position: 49.66216216216216% 0;
}

.imx-is-null {
	background-position: 50% 0;
}

.imx-is-true {
	background-position: 50.33783783783784% 0;
}

.imx-jsfiddle {
	background-position: 50.67567567567568% 0;
}

.imx-jump-down {
	background-position: 51.013513513513516% 0;
}

.imx-jump-up {
	background-position: 51.351351351351354% 0;
}

.imx-keep-away-from-children {
	background-position: 51.689189189189186% 0;
}

.imx-last-month {
	background-position: 52.027027027027025% 0;
}

.imx-last-year {
	background-position: 52.36486486486486% 0;
}

.imx-legal-document {
	background-position: 52.7027027027027% 0;
}

.imx-less-than {
	background-position: 53.04054054054054% 0;
}

.imx-less-than-or-equal {
	background-position: 53.37837837837838% 0;
}

.imx-linkedin {
	background-position: 53.71621621621622% 0;
}

.imx-loan {
	background-position: 54.054054054054056% 0;
}

.imx-maestro {
	background-position: 54.391891891891895% 0;
}

.imx-male-candidate {
	background-position: 54.729729729729726% 0;
}

.imx-mask-1 {
	background-position: 55.067567567567565% 0;
}

.imx-mask-2 {
	background-position: 55.4054054054054% 0;
}

.imx-massage {
	background-position: 55.74324324324324% 0;
}

.imx-mastercard {
	background-position: 56.08108108108108% 0;
}

.imx-match {
	background-position: 56.41891891891892% 0;
}

.imx-medical-book {
	background-position: 56.75675675675676% 0;
}

.imx-medicine {
	background-position: 57.0945945945946% 0;
}

.imx-medium {
	background-position: 57.432432432432435% 0;
}

.imx-microorganisms {
	background-position: 57.770270270270274% 0;
}

.imx-microscope {
	background-position: 58.108108108108105% 0;
}

.imx-milestone {
	background-position: 58.445945945945944% 0;
}

.imx-module {
	background-position: 58.78378378378378% 0;
}

.imx-money-bag {
	background-position: 59.12162162162162% 0;
}

.imx-ms-edge {
	background-position: 59.45945945945946% 0;
}

.imx-ms-excel {
	background-position: 59.7972972972973% 0;
}

.imx-ms-outlook {
	background-position: 60.13513513513514% 0;
}

.imx-ms-powerpoint {
	background-position: 60.472972972972975% 0;
}

.imx-ms-word {
	background-position: 60.810810810810814% 0;
}

.imx-next-month {
	background-position: 61.148648648648646% 0;
}

.imx-next-year {
	background-position: 61.486486486486484% 0;
}

.imx-not-empty {
	background-position: 61.82432432432432% 0;
}

.imx-not-equal {
	background-position: 62.16216216216216% 0;
}

.imx-nurse {
	background-position: 62.5% 0;
}

.imx-oil {
	background-position: 62.83783783783784% 0;
}

.imx-onedrive {
	background-position: 63.17567567567568% 0;
}

.imx-opera {
	background-position: 63.513513513513516% 0;
}

.imx-pacifier {
	background-position: 63.851351351351354% 0;
}

.imx-parliament-1 {
	background-position: 64.1891891891892% 0;
}

.imx-parliament-2 {
	background-position: 64.52702702702703% 0;
}

.imx-pay-date {
	background-position: 64.86486486486487% 0;
}

.imx-paypal {
	background-position: 65.20270270270271% 0;
}

.imx-piggy-bank {
	background-position: 65.54054054054055% 0;
}

.imx-pill {
	background-position: 65.87837837837837% 0;
}

.imx-pin-left {
	background-position: 66.21621621621621% 0;
}

.imx-pin-right {
	background-position: 66.55405405405405% 0;
}

.imx-pinterest {
	background-position: 66.89189189189189% 0;
}

.imx-plastic-surgery {
	background-position: 67.22972972972973% 0;
}

.imx-plugin {
	background-position: 67.56756756756756% 0;
}

.imx-poop {
	background-position: 67.9054054054054% 0;
}

.imx-popular-votes {
	background-position: 68.24324324324324% 0;
}

.imx-pound-circled {
	background-position: 68.58108108108108% 0;
}

.imx-pregnancy-no-alcohol {
	background-position: 68.91891891891892% 0;
}

.imx-project-revenue {
	background-position: 69.25675675675676% 0;
}

.imx-protester-signs {
	background-position: 69.5945945945946% 0;
}

.imx-pull-request {
	background-position: 69.93243243243244% 0;
}

.imx-pulse {
	background-position: 70.27027027027027% 0;
}

.imx-radioactive {
	background-position: 70.60810810810811% 0;
}

.imx-reddit {
	background-position: 70.94594594594595% 0;
}

.imx-repository {
	background-position: 71.28378378378379% 0;
}

.imx-responsive-layout {
	background-position: 71.62162162162163% 0;
}

.imx-results-by-candidates {
	background-position: 71.95945945945945% 0;
}

.imx-results-piechart {
	background-position: 72.29729729729729% 0;
}

.imx-rh-negative {
	background-position: 72.63513513513513% 0;
}

.imx-rh-positive {
	background-position: 72.97297297297297% 0;
}

.imx-rod-of-asclepius {
	background-position: 73.3108108108108% 0;
}

.imx-safari {
	background-position: 73.64864864864865% 0;
}

.imx-sale {
	background-position: 73.98648648648648% 0;
}

.imx-sass {
	background-position: 74.32432432432432% 0;
}

.imx-scales-balanced {
	background-position: 74.66216216216216% 0;
}

.imx-scales-unbalanced {
	background-position: 75% 0;
}

.imx-security-1 {
	background-position: 75.33783783783784% 0;
}

.imx-security-2 {
	background-position: 75.67567567567568% 0;
}

.imx-severity {
	background-position: 76.01351351351352% 0;
}

.imx-sign-language {
	background-position: 76.35135135135135% 0;
}

.imx-skype {
	background-position: 76.6891891891892% 0;
}

.imx-slack {
	background-position: 77.02702702702703% 0;
}

.imx-snapchat {
	background-position: 77.36486486486487% 0;
}

.imx-sneeze {
	background-position: 77.70270270270271% 0;
}

.imx-software-architecture {
	background-position: 78.04054054054055% 0;
}

.imx-software-installer {
	background-position: 78.37837837837837% 0;
}

.imx-soundcloud {
	background-position: 78.71621621621621% 0;
}

.imx-source-code {
	background-position: 79.05405405405405% 0;
}

.imx-spotify {
	background-position: 79.39189189189189% 0;
}

.imx-stackoverflow {
	background-position: 79.72972972972973% 0;
}

.imx-start-expression {
	background-position: 80.06756756756756% 0;
}

.imx-starts-with {
	background-position: 80.4054054054054% 0;
}

.imx-stats {
	background-position: 80.74324324324324% 0;
}

.imx-steam {
	background-position: 81.08108108108108% 0;
}

.imx-stethoscope {
	background-position: 81.41891891891892% 0;
}

.imx-strategy {
	background-position: 81.75675675675676% 0;
}

.imx-stretcher {
	background-position: 82.0945945945946% 0;
}

.imx-stripe {
	background-position: 82.43243243243244% 0;
}

.imx-syringe {
	background-position: 82.77027027027027% 0;
}

.imx-system-update {
	background-position: 83.10810810810811% 0;
}

.imx-teeth {
	background-position: 83.44594594594595% 0;
}

.imx-telegram {
	background-position: 83.78378378378379% 0;
}

.imx-thermometer {
	background-position: 84.12162162162163% 0;
}

.imx-this-month {
	background-position: 84.45945945945945% 0;
}

.imx-this-year {
	background-position: 84.79729729729729% 0;
}

.imx-tiktok {
	background-position: 85.13513513513513% 0;
}

.imx-timeline {
	background-position: 85.47297297297297% 0;
}

.imx-tinder {
	background-position: 85.8108108108108% 0;
}

.imx-today {
	background-position: 86.14864864864865% 0;
}

.imx-toilet-paper {
	background-position: 86.48648648648648% 0;
}

.imx-tomorrow {
	background-position: 86.82432432432432% 0;
}

.imx-tooth {
	background-position: 87.16216216216216% 0;
}

.imx-tooth-cracked {
	background-position: 87.5% 0;
}

.imx-touch-id {
	background-position: 87.83783783783784% 0;
}

.imx-twitch {
	background-position: 88.17567567567568% 0;
}

.imx-twitter {
	background-position: 88.51351351351352% 0;
}

.imx-ungroup {
	background-position: 88.85135135135135% 0;
}

.imx-unpin-left {
	background-position: 89.1891891891892% 0;
}

.imx-unpin-right {
	background-position: 89.52702702702703% 0;
}

.imx-usa-ca {
	background-position: 89.86486486486487% 0;
}

.imx-usa-fl {
	background-position: 90.20270270270271% 0;
}

.imx-usa-lower-48-states {
	background-position: 90.54054054054055% 0;
}

.imx-usa-ny {
	background-position: 90.87837837837837% 0;
}

.imx-usa-party-democratic {
	background-position: 91.21621621621621% 0;
}

.imx-usa-party-green {
	background-position: 91.55405405405405% 0;
}

.imx-usa-party-libertarian {
	background-position: 91.89189189189189% 0;
}

.imx-usa-party-republican {
	background-position: 92.22972972972973% 0;
}

.imx-usa-tx {
	background-position: 92.56756756756756% 0;
}

.imx-usb {
	background-position: 92.9054054054054% 0;
}

.imx-verified-account {
	background-position: 93.24324324324324% 0;
}

.imx-veterinarian {
	background-position: 93.58108108108108% 0;
}

.imx-vial {
	background-position: 93.91891891891892% 0;
}

.imx-viber {
	background-position: 94.25675675675676% 0;
}

.imx-vimeo {
	background-position: 94.5945945945946% 0;
}

.imx-virus {
	background-position: 94.93243243243244% 0;
}

.imx-virus-protection {
	background-position: 95.27027027027027% 0;
}

.imx-virus-stop {
	background-position: 95.60810810810811% 0;
}

.imx-visa {
	background-position: 95.94594594594595% 0;
}

.imx-visually-impaired {
	background-position: 96.28378378378379% 0;
}

.imx-vote {
	background-position: 96.62162162162163% 0;
}

.imx-wechat {
	background-position: 96.95945945945945% 0;
}

.imx-weight-scale {
	background-position: 97.29729729729729% 0;
}

.imx-whatsapp {
	background-position: 97.63513513513513% 0;
}

.imx-white-house-1 {
	background-position: 97.97297297297297% 0;
}

.imx-white-house-2 {
	background-position: 98.3108108108108% 0;
}

.imx-wire-transfer {
	background-position: 98.64864864864865% 0;
}

.imx-workflow {
	background-position: 98.98648648648648% 0;
}

.imx-yen-circled {
	background-position: 99.32432432432432% 0;
}

.imx-yesterday {
	background-position: 99.66216216216216% 0;
}

.imx-youtube {
	background-position: 100% 0;
}

