.imx-icon {
	background: url("svg/sprite.css-2b59682f.svg") no-repeat;
}

.imx-accessibility {
	background-position: 0 0;
}

.imx-add-child {
	background-position: 0.28169014084507044% 0;
}

.imx-add-filter {
	background-position: 0.5633802816901409% 0;
}

.imx-add-row {
	background-position: 0.8450704225352113% 0;
}

.imx-aggregation {
	background-position: 1.1267605633802817% 0;
}

.imx-aids-ribbon {
	background-position: 1.408450704225352% 0;
}

.imx-all {
	background-position: 1.6901408450704225% 0;
}

.imx-amazon {
	background-position: 1.971830985915493% 0;
}

.imx-ambulance {
	background-position: 2.2535211267605635% 0;
}

.imx-american-express {
	background-position: 2.535211267605634% 0;
}

.imx-anxiety {
	background-position: 2.816901408450704% 0;
}

.imx-api {
	background-position: 3.0985915492957745% 0;
}

.imx-app-symbol {
	background-position: 3.380281690140845% 0;
}

.imx-apple {
	background-position: 3.6619718309859155% 0;
}

.imx-apple-app-store {
	background-position: 3.943661971830986% 0;
}

.imx-apple-pay {
	background-position: 4.225352112676056% 0;
}

.imx-atm {
	background-position: 4.507042253521127% 0;
}

.imx-atm-dollar {
	background-position: 4.788732394366197% 0;
}

.imx-atm-euro {
	background-position: 5.070422535211268% 0;
}

.imx-atm-pound {
	background-position: 5.352112676056338% 0;
}

.imx-atm-yen {
	background-position: 5.633802816901408% 0;
}

.imx-auction {
	background-position: 5.915492957746479% 0;
}

.imx-award {
	background-position: 6.197183098591549% 0;
}

.imx-baby-bottle {
	background-position: 6.47887323943662% 0;
}

.imx-bacteria {
	background-position: 6.76056338028169% 0;
}

.imx-bandage {
	background-position: 7.042253521126761% 0;
}

.imx-bank-safe {
	background-position: 7.323943661971831% 0;
}

.imx-barcode {
	background-position: 7.605633802816901% 0;
}

.imx-battlenet {
	background-position: 7.887323943661972% 0;
}

.imx-bear-market {
	background-position: 8.169014084507042% 0;
}

.imx-behance {
	background-position: 8.450704225352112% 0;
}

.imx-bill-paid {
	background-position: 8.732394366197184% 0;
}

.imx-biohazard {
	background-position: 9.014084507042254% 0;
}

.imx-bitcoin {
	background-position: 9.295774647887324% 0;
}

.imx-blood {
	background-position: 9.577464788732394% 0;
}

.imx-blu-ray {
	background-position: 9.859154929577464% 0;
}

.imx-box {
	background-position: 10.140845070422536% 0;
}

.imx-braille {
	background-position: 10.422535211267606% 0;
}

.imx-breastfeeding {
	background-position: 10.704225352112676% 0;
}

.imx-brick-wall {
	background-position: 10.985915492957746% 0;
}

.imx-brush {
	background-position: 11.267605633802816% 0;
}

.imx-bucket {
	background-position: 11.549295774647888% 0;
}

.imx-budget-spending {
	background-position: 11.830985915492958% 0;
}

.imx-bug {
	background-position: 12.112676056338028% 0;
}

.imx-building {
	background-position: 12.394366197183098% 0;
}

.imx-bull-market {
	background-position: 12.67605633802817% 0;
}

.imx-bulldozer {
	background-position: 12.95774647887324% 0;
}

.imx-business-development {
	background-position: 13.23943661971831% 0;
}

.imx-caduceus {
	background-position: 13.52112676056338% 0;
}

.imx-calculator {
	background-position: 13.80281690140845% 0;
}

.imx-cancer-ribbon {
	background-position: 14.084507042253522% 0;
}

.imx-candidate-results {
	background-position: 14.366197183098592% 0;
}

.imx-case-sensitive {
	background-position: 14.647887323943662% 0;
}

.imx-cash-1 {
	background-position: 14.929577464788732% 0;
}

.imx-cash-2 {
	background-position: 15.211267605633802% 0;
}

.imx-cash-only {
	background-position: 15.492957746478874% 0;
}

.imx-cement-mixer {
	background-position: 15.774647887323944% 0;
}

.imx-certificate {
	background-position: 16.056338028169016% 0;
}

.imx-check {
	background-position: 16.338028169014084% 0;
}

.imx-chrome {
	background-position: 16.619718309859156% 0;
}

.imx-clinic {
	background-position: 16.901408450704224% 0;
}

.imx-code {
	background-position: 17.183098591549296% 0;
}

.imx-code-fork {
	background-position: 17.464788732394368% 0;
}

.imx-code-review {
	background-position: 17.746478873239436% 0;
}

.imx-commodities {
	background-position: 18.028169014084508% 0;
}

.imx-condom {
	background-position: 18.309859154929576% 0;
}

.imx-condom-used {
	background-position: 18.591549295774648% 0;
}

.imx-console {
	background-position: 18.87323943661972% 0;
}

.imx-construction-cone {
	background-position: 19.154929577464788% 0;
}

.imx-construction-project {
	background-position: 19.43661971830986% 0;
}

.imx-construction-trolley {
	background-position: 19.718309859154928% 0;
}

.imx-contains {
	background-position: 20% 0;
}

.imx-contraception {
	background-position: 20.281690140845072% 0;
}

.imx-cordless-screwdriver {
	background-position: 20.56338028169014% 0;
}

.imx-coronavirus {
	background-position: 20.845070422535212% 0;
}

.imx-country-home {
	background-position: 21.12676056338028% 0;
}

.imx-crane {
	background-position: 21.408450704225352% 0;
}

.imx-credit-cards {
	background-position: 21.690140845070424% 0;
}

.imx-credit-control {
	background-position: 21.971830985915492% 0;
}

.imx-crowdfunding {
	background-position: 22.253521126760564% 0;
}

.imx-deafness {
	background-position: 22.535211267605632% 0;
}

.imx-debate {
	background-position: 22.816901408450704% 0;
}

.imx-debt {
	background-position: 23.098591549295776% 0;
}

.imx-delivery {
	background-position: 23.380281690140844% 0;
}

.imx-dental-floss {
	background-position: 23.661971830985916% 0;
}

.imx-dental-implant {
	background-position: 23.943661971830984% 0;
}

.imx-development {
	background-position: 24.225352112676056% 0;
}

.imx-diabetes {
	background-position: 24.507042253521128% 0;
}

.imx-diamond {
	background-position: 24.788732394366196% 0;
}

.imx-diamond-circled {
	background-position: 25.070422535211268% 0;
}

.imx-diners-club {
	background-position: 25.35211267605634% 0;
}

.imx-discord {
	background-position: 25.633802816901408% 0;
}

.imx-discount {
	background-position: 25.91549295774648% 0;
}

.imx-dividents {
	background-position: 26.197183098591548% 0;
}

.imx-dna {
	background-position: 26.47887323943662% 0;
}

.imx-doctor {
	background-position: 26.760563380281692% 0;
}

.imx-doctors-bag {
	background-position: 27.04225352112676% 0;
}

.imx-does-not-contain {
	background-position: 27.323943661971832% 0;
}

.imx-dollar-circled {
	background-position: 27.6056338028169% 0;
}

.imx-dose {
	background-position: 27.887323943661972% 0;
}

.imx-dribbble {
	background-position: 28.169014084507044% 0;
}

.imx-drop-shipping {
	background-position: 28.450704225352112% 0;
}

.imx-dropbox {
	background-position: 28.732394366197184% 0;
}

.imx-dump-truck {
	background-position: 29.014084507042252% 0;
}

.imx-ebay {
	background-position: 29.295774647887324% 0;
}

.imx-electoral-votes {
	background-position: 29.577464788732396% 0;
}

.imx-embryo {
	background-position: 29.859154929577464% 0;
}

.imx-end-expression {
	background-position: 30.140845070422536% 0;
}

.imx-ends-with {
	background-position: 30.422535211267604% 0;
}

.imx-equals {
	background-position: 30.704225352112676% 0;
}

.imx-estate {
	background-position: 30.985915492957748% 0;
}

.imx-ethereum {
	background-position: 31.267605633802816% 0;
}

.imx-eu-parliament {
	background-position: 31.549295774647888% 0;
}

.imx-euro-circled {
	background-position: 31.830985915492956% 0;
}

.imx-exact-match {
	background-position: 32.11267605633803% 0;
}

.imx-face-id {
	background-position: 32.394366197183096% 0;
}

.imx-facebook {
	background-position: 32.67605633802817% 0;
}

.imx-facebook-messenger {
	background-position: 32.95774647887324% 0;
}

.imx-female-candidate {
	background-position: 33.23943661971831% 0;
}

.imx-fertilization {
	background-position: 33.521126760563384% 0;
}

.imx-file-changes {
	background-position: 33.80281690140845% 0;
}

.imx-file-tree {
	background-position: 34.08450704225352% 0;
}

.imx-financial-insurance {
	background-position: 34.36619718309859% 0;
}

.imx-firefox {
	background-position: 34.647887323943664% 0;
}

.imx-fitness-watch {
	background-position: 34.929577464788736% 0;
}

.imx-foreign-exchange {
	background-position: 35.2112676056338% 0;
}

.imx-forklift-truck {
	background-position: 35.49295774647887% 0;
}

.imx-foundation {
	background-position: 35.774647887323944% 0;
}

.imx-fountain {
	background-position: 36.056338028169016% 0;
}

.imx-gas-mask {
	background-position: 36.33802816901409% 0;
}

.imx-gift {
	background-position: 36.61971830985915% 0;
}

.imx-git-branch {
	background-position: 36.901408450704224% 0;
}

.imx-git-commit {
	background-position: 37.183098591549296% 0;
}

.imx-git-compare {
	background-position: 37.46478873239437% 0;
}

.imx-git-issue {
	background-position: 37.74647887323944% 0;
}

.imx-git-merge {
	background-position: 38.028169014084504% 0;
}

.imx-github {
	background-position: 38.309859154929576% 0;
}

.imx-gold {
	background-position: 38.59154929577465% 0;
}

.imx-google {
	background-position: 38.87323943661972% 0;
}

.imx-google-drive {
	background-position: 39.15492957746479% 0;
}

.imx-google-hangouts {
	background-position: 39.436619718309856% 0;
}

.imx-google-maps {
	background-position: 39.71830985915493% 0;
}

.imx-google-pay {
	background-position: 40% 0;
}

.imx-google-play {
	background-position: 40.28169014084507% 0;
}

.imx-google-translate {
	background-position: 40.563380281690144% 0;
}

.imx-greater-than {
	background-position: 40.84507042253521% 0;
}

.imx-greater-than-or-equal {
	background-position: 41.12676056338028% 0;
}

.imx-grid {
	background-position: 41.40845070422535% 0;
}

.imx-hammer {
	background-position: 41.690140845070424% 0;
}

.imx-hearing-aid {
	background-position: 41.971830985915496% 0;
}

.imx-heart-care {
	background-position: 42.25352112676056% 0;
}

.imx-heart-monitor {
	background-position: 42.53521126760563% 0;
}

.imx-horn {
	background-position: 42.816901408450704% 0;
}

.imx-hospital {
	background-position: 43.098591549295776% 0;
}

.imx-hospital-bed {
	background-position: 43.38028169014085% 0;
}

.imx-hospital-sign {
	background-position: 43.66197183098591% 0;
}

.imx-idea-generation {
	background-position: 43.943661971830984% 0;
}

.imx-impact-drill {
	background-position: 44.225352112676056% 0;
}

.imx-inspect-code {
	background-position: 44.50704225352113% 0;
}

.imx-instagram {
	background-position: 44.7887323943662% 0;
}

.imx-internet-explorer {
	background-position: 45.070422535211264% 0;
}

.imx-invoice {
	background-position: 45.352112676056336% 0;
}

.imx-ios {
	background-position: 45.63380281690141% 0;
}

.imx-is-after {
	background-position: 45.91549295774648% 0;
}

.imx-is-before {
	background-position: 46.19718309859155% 0;
}

.imx-is-empty {
	background-position: 46.478873239436616% 0;
}

.imx-is-false {
	background-position: 46.76056338028169% 0;
}

.imx-is-not-null {
	background-position: 47.04225352112676% 0;
}

.imx-is-null {
	background-position: 47.32394366197183% 0;
}

.imx-is-true {
	background-position: 47.605633802816904% 0;
}

.imx-jsfiddle {
	background-position: 47.88732394366197% 0;
}

.imx-jump-down {
	background-position: 48.16901408450704% 0;
}

.imx-jump-up {
	background-position: 48.45070422535211% 0;
}

.imx-keep-away-from-children {
	background-position: 48.732394366197184% 0;
}

.imx-ladder {
	background-position: 49.014084507042256% 0;
}

.imx-last-month {
	background-position: 49.29577464788732% 0;
}

.imx-last-year {
	background-position: 49.57746478873239% 0;
}

.imx-legal-document {
	background-position: 49.859154929577464% 0;
}

.imx-less-than {
	background-position: 50.140845070422536% 0;
}

.imx-less-than-or-equal {
	background-position: 50.42253521126761% 0;
}

.imx-linkedin {
	background-position: 50.70422535211268% 0;
}

.imx-loan {
	background-position: 50.985915492957744% 0;
}

.imx-maestro {
	background-position: 51.267605633802816% 0;
}

.imx-maintenance {
	background-position: 51.54929577464789% 0;
}

.imx-male-candidate {
	background-position: 51.83098591549296% 0;
}

.imx-mask-1 {
	background-position: 52.11267605633803% 0;
}

.imx-mask-2 {
	background-position: 52.394366197183096% 0;
}

.imx-massage {
	background-position: 52.67605633802817% 0;
}

.imx-mastercard {
	background-position: 52.95774647887324% 0;
}

.imx-match {
	background-position: 53.23943661971831% 0;
}

.imx-medical-book {
	background-position: 53.521126760563384% 0;
}

.imx-medicine {
	background-position: 53.80281690140845% 0;
}

.imx-medium {
	background-position: 54.08450704225352% 0;
}

.imx-microorganisms {
	background-position: 54.36619718309859% 0;
}

.imx-microscope {
	background-position: 54.647887323943664% 0;
}

.imx-microsoft {
	background-position: 54.929577464788736% 0;
}

.imx-milestone {
	background-position: 55.2112676056338% 0;
}

.imx-module {
	background-position: 55.49295774647887% 0;
}

.imx-money-bag {
	background-position: 55.774647887323944% 0;
}

.imx-ms-edge {
	background-position: 56.056338028169016% 0;
}

.imx-ms-excel {
	background-position: 56.33802816901409% 0;
}

.imx-ms-office {
	background-position: 56.61971830985915% 0;
}

.imx-ms-outlook {
	background-position: 56.901408450704224% 0;
}

.imx-ms-powerpoint {
	background-position: 57.183098591549296% 0;
}

.imx-ms-teams {
	background-position: 57.46478873239437% 0;
}

.imx-ms-word {
	background-position: 57.74647887323944% 0;
}

.imx-next-month {
	background-position: 58.028169014084504% 0;
}

.imx-next-year {
	background-position: 58.309859154929576% 0;
}

.imx-not-empty {
	background-position: 58.59154929577465% 0;
}

.imx-not-equal {
	background-position: 58.87323943661972% 0;
}

.imx-nurse {
	background-position: 59.15492957746479% 0;
}

.imx-oil {
	background-position: 59.436619718309856% 0;
}

.imx-oil-platform {
	background-position: 59.71830985915493% 0;
}

.imx-onedrive {
	background-position: 60% 0;
}

.imx-opera {
	background-position: 60.28169014084507% 0;
}

.imx-pacifier {
	background-position: 60.563380281690144% 0;
}

.imx-paint-roller {
	background-position: 60.84507042253521% 0;
}

.imx-parliament-1 {
	background-position: 61.12676056338028% 0;
}

.imx-parliament-2 {
	background-position: 61.40845070422535% 0;
}

.imx-pay-date {
	background-position: 61.690140845070424% 0;
}

.imx-paypal {
	background-position: 61.971830985915496% 0;
}

.imx-piggy-bank {
	background-position: 62.25352112676056% 0;
}

.imx-pill {
	background-position: 62.53521126760563% 0;
}

.imx-pin-left {
	background-position: 62.816901408450704% 0;
}

.imx-pin-right {
	background-position: 63.098591549295776% 0;
}

.imx-pinterest {
	background-position: 63.38028169014085% 0;
}

.imx-pipes {
	background-position: 63.66197183098591% 0;
}

.imx-piping-system {
	background-position: 63.943661971830984% 0;
}

.imx-plastic-surgery {
	background-position: 64.22535211267606% 0;
}

.imx-pliers {
	background-position: 64.50704225352112% 0;
}

.imx-plugin {
	background-position: 64.78873239436619% 0;
}

.imx-pneumatic-hammer-drill {
	background-position: 65.07042253521126% 0;
}

.imx-poop {
	background-position: 65.35211267605634% 0;
}

.imx-popular-votes {
	background-position: 65.63380281690141% 0;
}

.imx-pound-circled {
	background-position: 65.91549295774648% 0;
}

.imx-pregnancy-no-alcohol {
	background-position: 66.19718309859155% 0;
}

.imx-project-revenue {
	background-position: 66.47887323943662% 0;
}

.imx-protester-signs {
	background-position: 66.7605633802817% 0;
}

.imx-pull-request {
	background-position: 67.04225352112677% 0;
}

.imx-pulse {
	background-position: 67.32394366197182% 0;
}

.imx-radiator {
	background-position: 67.6056338028169% 0;
}

.imx-radioactive {
	background-position: 67.88732394366197% 0;
}

.imx-reddit {
	background-position: 68.16901408450704% 0;
}

.imx-repository {
	background-position: 68.45070422535211% 0;
}

.imx-responsive-layout {
	background-position: 68.73239436619718% 0;
}

.imx-restricted-area {
	background-position: 69.01408450704226% 0;
}

.imx-results-by-candidates {
	background-position: 69.29577464788733% 0;
}

.imx-results-piechart {
	background-position: 69.5774647887324% 0;
}

.imx-rh-negative {
	background-position: 69.85915492957747% 0;
}

.imx-rh-positive {
	background-position: 70.14084507042253% 0;
}

.imx-road-roller {
	background-position: 70.4225352112676% 0;
}

.imx-rod-of-asclepius {
	background-position: 70.70422535211267% 0;
}

.imx-rulers {
	background-position: 70.98591549295774% 0;
}

.imx-safari {
	background-position: 71.26760563380282% 0;
}

.imx-safety-vest {
	background-position: 71.54929577464789% 0;
}

.imx-sale {
	background-position: 71.83098591549296% 0;
}

.imx-sass {
	background-position: 72.11267605633803% 0;
}

.imx-saw {
	background-position: 72.3943661971831% 0;
}

.imx-scales-balanced {
	background-position: 72.67605633802818% 0;
}

.imx-scales-unbalanced {
	background-position: 72.95774647887323% 0;
}

.imx-scissor-lift {
	background-position: 73.2394366197183% 0;
}

.imx-screwdriver {
	background-position: 73.52112676056338% 0;
}

.imx-security-1 {
	background-position: 73.80281690140845% 0;
}

.imx-security-2 {
	background-position: 74.08450704225352% 0;
}

.imx-severity {
	background-position: 74.36619718309859% 0;
}

.imx-shovel {
	background-position: 74.64788732394366% 0;
}

.imx-sign-language {
	background-position: 74.92957746478874% 0;
}

.imx-skype {
	background-position: 75.21126760563381% 0;
}

.imx-skyscrapers {
	background-position: 75.49295774647888% 0;
}

.imx-slack {
	background-position: 75.77464788732394% 0;
}

.imx-snapchat {
	background-position: 76.05633802816901% 0;
}

.imx-sneeze {
	background-position: 76.33802816901408% 0;
}

.imx-software-architecture {
	background-position: 76.61971830985915% 0;
}

.imx-software-installer {
	background-position: 76.90140845070422% 0;
}

.imx-solar-panel {
	background-position: 77.1830985915493% 0;
}

.imx-soldering-iron {
	background-position: 77.46478873239437% 0;
}

.imx-soundcloud {
	background-position: 77.74647887323944% 0;
}

.imx-source-code {
	background-position: 78.02816901408451% 0;
}

.imx-spotify {
	background-position: 78.30985915492958% 0;
}

.imx-stackoverflow {
	background-position: 78.59154929577464% 0;
}

.imx-stairs {
	background-position: 78.87323943661971% 0;
}

.imx-start-expression {
	background-position: 79.15492957746478% 0;
}

.imx-starts-with {
	background-position: 79.43661971830986% 0;
}

.imx-stats {
	background-position: 79.71830985915493% 0;
}

.imx-steam {
	background-position: 80% 0;
}

.imx-stethoscope {
	background-position: 80.28169014084507% 0;
}

.imx-stop-hand {
	background-position: 80.56338028169014% 0;
}

.imx-strategy {
	background-position: 80.84507042253522% 0;
}

.imx-stretcher {
	background-position: 81.12676056338029% 0;
}

.imx-stripe {
	background-position: 81.40845070422536% 0;
}

.imx-syringe {
	background-position: 81.69014084507042% 0;
}

.imx-system-update {
	background-position: 81.97183098591549% 0;
}

.imx-table-saw-blade {
	background-position: 82.25352112676056% 0;
}

.imx-tap-water {
	background-position: 82.53521126760563% 0;
}

.imx-tapeline {
	background-position: 82.8169014084507% 0;
}

.imx-teeth {
	background-position: 83.09859154929578% 0;
}

.imx-telegram {
	background-position: 83.38028169014085% 0;
}

.imx-thermometer {
	background-position: 83.66197183098592% 0;
}

.imx-this-month {
	background-position: 83.94366197183099% 0;
}

.imx-this-year {
	background-position: 84.22535211267606% 0;
}

.imx-tiktok {
	background-position: 84.50704225352112% 0;
}

.imx-timeline {
	background-position: 84.78873239436619% 0;
}

.imx-tinder {
	background-position: 85.07042253521126% 0;
}

.imx-today {
	background-position: 85.35211267605634% 0;
}

.imx-toilet-paper {
	background-position: 85.63380281690141% 0;
}

.imx-tomorrow {
	background-position: 85.91549295774648% 0;
}

.imx-tooth {
	background-position: 86.19718309859155% 0;
}

.imx-tooth-cracked {
	background-position: 86.47887323943662% 0;
}

.imx-touch-id {
	background-position: 86.7605633802817% 0;
}

.imx-tow-truck {
	background-position: 87.04225352112677% 0;
}

.imx-towel-rail {
	background-position: 87.32394366197182% 0;
}

.imx-tractor {
	background-position: 87.6056338028169% 0;
}

.imx-trowel {
	background-position: 87.88732394366197% 0;
}

.imx-twitch {
	background-position: 88.16901408450704% 0;
}

.imx-twitter {
	background-position: 88.45070422535211% 0;
}

.imx-ungroup {
	background-position: 88.73239436619718% 0;
}

.imx-unpin-left {
	background-position: 89.01408450704226% 0;
}

.imx-unpin-right {
	background-position: 89.29577464788733% 0;
}

.imx-usa-ca {
	background-position: 89.5774647887324% 0;
}

.imx-usa-fl {
	background-position: 89.85915492957747% 0;
}

.imx-usa-lower-48-states {
	background-position: 90.14084507042253% 0;
}

.imx-usa-ny {
	background-position: 90.4225352112676% 0;
}

.imx-usa-party-democratic {
	background-position: 90.70422535211267% 0;
}

.imx-usa-party-green {
	background-position: 90.98591549295774% 0;
}

.imx-usa-party-libertarian {
	background-position: 91.26760563380282% 0;
}

.imx-usa-party-republican {
	background-position: 91.54929577464789% 0;
}

.imx-usa-tx {
	background-position: 91.83098591549296% 0;
}

.imx-usb {
	background-position: 92.11267605633803% 0;
}

.imx-verified-account {
	background-position: 92.3943661971831% 0;
}

.imx-veterinarian {
	background-position: 92.67605633802818% 0;
}

.imx-vial {
	background-position: 92.95774647887323% 0;
}

.imx-viber {
	background-position: 93.2394366197183% 0;
}

.imx-vimeo {
	background-position: 93.52112676056338% 0;
}

.imx-virus {
	background-position: 93.80281690140845% 0;
}

.imx-virus-protection {
	background-position: 94.08450704225352% 0;
}

.imx-virus-stop {
	background-position: 94.36619718309859% 0;
}

.imx-visa {
	background-position: 94.64788732394366% 0;
}

.imx-visually-impaired {
	background-position: 94.92957746478874% 0;
}

.imx-vote {
	background-position: 95.21126760563381% 0;
}

.imx-vs-code {
	background-position: 95.49295774647888% 0;
}

.imx-water-boiler {
	background-position: 95.77464788732394% 0;
}

.imx-water-heater {
	background-position: 96.05633802816901% 0;
}

.imx-water-tap {
	background-position: 96.33802816901408% 0;
}

.imx-wechat {
	background-position: 96.61971830985915% 0;
}

.imx-weight-scale {
	background-position: 96.90140845070422% 0;
}

.imx-whatsapp {
	background-position: 97.1830985915493% 0;
}

.imx-white-house-1 {
	background-position: 97.46478873239437% 0;
}

.imx-white-house-2 {
	background-position: 97.74647887323944% 0;
}

.imx-wire-transfer {
	background-position: 98.02816901408451% 0;
}

.imx-worker {
	background-position: 98.30985915492958% 0;
}

.imx-workers {
	background-position: 98.59154929577464% 0;
}

.imx-workflow {
	background-position: 98.87323943661971% 0;
}

.imx-wrench {
	background-position: 99.15492957746478% 0;
}

.imx-yen-circled {
	background-position: 99.43661971830986% 0;
}

.imx-yesterday {
	background-position: 99.71830985915493% 0;
}

.imx-youtube {
	background-position: 100% 0;
}

