.imx-icon {
	background: url("svg/sprite.css-87e67f02.svg") no-repeat;
}

.imx-accessibility {
	background-position: 0 0;
}

.imx-aids-ribbon {
	background-position: 0.45045045045045046% 0;
}

.imx-amazon {
	background-position: 0.9009009009009009% 0;
}

.imx-ambulance {
	background-position: 1.3513513513513513% 0;
}

.imx-american-express {
	background-position: 1.8018018018018018% 0;
}

.imx-anxiety {
	background-position: 2.2522522522522523% 0;
}

.imx-api {
	background-position: 2.7027027027027026% 0;
}

.imx-app-symbol {
	background-position: 3.1531531531531534% 0;
}

.imx-apple {
	background-position: 3.6036036036036037% 0;
}

.imx-apple-app-store {
	background-position: 4.054054054054054% 0;
}

.imx-apple-pay {
	background-position: 4.504504504504505% 0;
}

.imx-atm {
	background-position: 4.954954954954955% 0;
}

.imx-atm-dollar {
	background-position: 5.405405405405405% 0;
}

.imx-atm-euro {
	background-position: 5.8558558558558556% 0;
}

.imx-atm-pound {
	background-position: 6.306306306306307% 0;
}

.imx-atm-yen {
	background-position: 6.756756756756757% 0;
}

.imx-auction {
	background-position: 7.207207207207207% 0;
}

.imx-award {
	background-position: 7.657657657657658% 0;
}

.imx-baby-bottle {
	background-position: 8.108108108108109% 0;
}

.imx-bacteria {
	background-position: 8.558558558558559% 0;
}

.imx-bandage {
	background-position: 9.00900900900901% 0;
}

.imx-bank-safe {
	background-position: 9.45945945945946% 0;
}

.imx-barcode {
	background-position: 9.90990990990991% 0;
}

.imx-bear-market {
	background-position: 10.36036036036036% 0;
}

.imx-behance {
	background-position: 10.81081081081081% 0;
}

.imx-bill-paid {
	background-position: 11.26126126126126% 0;
}

.imx-biohazard {
	background-position: 11.711711711711711% 0;
}

.imx-bitcoin {
	background-position: 12.162162162162161% 0;
}

.imx-blood {
	background-position: 12.612612612612613% 0;
}

.imx-blu-ray {
	background-position: 13.063063063063064% 0;
}

.imx-box {
	background-position: 13.513513513513514% 0;
}

.imx-braille {
	background-position: 13.963963963963964% 0;
}

.imx-breastfeeding {
	background-position: 14.414414414414415% 0;
}

.imx-budget-spending {
	background-position: 14.864864864864865% 0;
}

.imx-bug {
	background-position: 15.315315315315315% 0;
}

.imx-bull-market {
	background-position: 15.765765765765765% 0;
}

.imx-business-development {
	background-position: 16.216216216216218% 0;
}

.imx-caduceus {
	background-position: 16.666666666666668% 0;
}

.imx-calculator {
	background-position: 17.117117117117118% 0;
}

.imx-cancer-ribbon {
	background-position: 17.56756756756757% 0;
}

.imx-cash-1 {
	background-position: 18.01801801801802% 0;
}

.imx-cash-2 {
	background-position: 18.46846846846847% 0;
}

.imx-cash-only {
	background-position: 18.91891891891892% 0;
}

.imx-certificate {
	background-position: 19.36936936936937% 0;
}

.imx-chrome {
	background-position: 19.81981981981982% 0;
}

.imx-clinic {
	background-position: 20.27027027027027% 0;
}

.imx-code {
	background-position: 20.72072072072072% 0;
}

.imx-code-fork {
	background-position: 21.17117117117117% 0;
}

.imx-code-review {
	background-position: 21.62162162162162% 0;
}

.imx-commodities {
	background-position: 22.07207207207207% 0;
}

.imx-condom {
	background-position: 22.52252252252252% 0;
}

.imx-condom-used {
	background-position: 22.972972972972972% 0;
}

.imx-console {
	background-position: 23.423423423423422% 0;
}

.imx-contraception {
	background-position: 23.873873873873872% 0;
}

.imx-coronavirus {
	background-position: 24.324324324324323% 0;
}

.imx-credit-cards {
	background-position: 24.774774774774773% 0;
}

.imx-credit-control {
	background-position: 25.225225225225227% 0;
}

.imx-crowdfunding {
	background-position: 25.675675675675677% 0;
}

.imx-deafness {
	background-position: 26.126126126126128% 0;
}

.imx-debt {
	background-position: 26.576576576576578% 0;
}

.imx-delivery {
	background-position: 27.027027027027028% 0;
}

.imx-dental-floss {
	background-position: 27.47747747747748% 0;
}

.imx-dental-implant {
	background-position: 27.92792792792793% 0;
}

.imx-development {
	background-position: 28.37837837837838% 0;
}

.imx-diabetes {
	background-position: 28.82882882882883% 0;
}

.imx-diamond {
	background-position: 29.27927927927928% 0;
}

.imx-diamond-circled {
	background-position: 29.72972972972973% 0;
}

.imx-diners-club {
	background-position: 30.18018018018018% 0;
}

.imx-discord {
	background-position: 30.63063063063063% 0;
}

.imx-discount {
	background-position: 31.08108108108108% 0;
}

.imx-dividents {
	background-position: 31.53153153153153% 0;
}

.imx-dna {
	background-position: 31.98198198198198% 0;
}

.imx-doctor {
	background-position: 32.432432432432435% 0;
}

.imx-doctors-bag {
	background-position: 32.88288288288288% 0;
}

.imx-dollar-circled {
	background-position: 33.333333333333336% 0;
}

.imx-dose {
	background-position: 33.78378378378378% 0;
}

.imx-dribbble {
	background-position: 34.234234234234236% 0;
}

.imx-drop-shipping {
	background-position: 34.68468468468468% 0;
}

.imx-dropbox {
	background-position: 35.13513513513514% 0;
}

.imx-ebay {
	background-position: 35.585585585585584% 0;
}

.imx-embryo {
	background-position: 36.03603603603604% 0;
}

.imx-ethereum {
	background-position: 36.486486486486484% 0;
}

.imx-euro-circled {
	background-position: 36.93693693693694% 0;
}

.imx-face-id {
	background-position: 37.387387387387385% 0;
}

.imx-facebook {
	background-position: 37.83783783783784% 0;
}

.imx-facebook-messenger {
	background-position: 38.288288288288285% 0;
}

.imx-fertilization {
	background-position: 38.73873873873874% 0;
}

.imx-file-changes {
	background-position: 39.189189189189186% 0;
}

.imx-file-tree {
	background-position: 39.63963963963964% 0;
}

.imx-financial-insurance {
	background-position: 40.090090090090094% 0;
}

.imx-firefox {
	background-position: 40.54054054054054% 0;
}

.imx-fitness-watch {
	background-position: 40.990990990990994% 0;
}

.imx-foreign-exchange {
	background-position: 41.44144144144144% 0;
}

.imx-gas-mask {
	background-position: 41.891891891891895% 0;
}

.imx-gift {
	background-position: 42.34234234234234% 0;
}

.imx-git-branch {
	background-position: 42.792792792792795% 0;
}

.imx-git-commit {
	background-position: 43.24324324324324% 0;
}

.imx-git-compare {
	background-position: 43.693693693693696% 0;
}

.imx-git-issue {
	background-position: 44.14414414414414% 0;
}

.imx-git-merge {
	background-position: 44.5945945945946% 0;
}

.imx-github {
	background-position: 45.04504504504504% 0;
}

.imx-gold {
	background-position: 45.4954954954955% 0;
}

.imx-google {
	background-position: 45.945945945945944% 0;
}

.imx-google-drive {
	background-position: 46.3963963963964% 0;
}

.imx-google-hangouts {
	background-position: 46.846846846846844% 0;
}

.imx-google-maps {
	background-position: 47.2972972972973% 0;
}

.imx-google-pay {
	background-position: 47.747747747747745% 0;
}

.imx-google-play {
	background-position: 48.1981981981982% 0;
}

.imx-google-translate {
	background-position: 48.648648648648646% 0;
}

.imx-grid {
	background-position: 49.0990990990991% 0;
}

.imx-hearing-aid {
	background-position: 49.549549549549546% 0;
}

.imx-heart-care {
	background-position: 50% 0;
}

.imx-heart-monitor {
	background-position: 50.450450450450454% 0;
}

.imx-hospital {
	background-position: 50.9009009009009% 0;
}

.imx-hospital-bed {
	background-position: 51.351351351351354% 0;
}

.imx-hospital-sign {
	background-position: 51.8018018018018% 0;
}

.imx-idea-generation {
	background-position: 52.252252252252255% 0;
}

.imx-inspect-code {
	background-position: 52.7027027027027% 0;
}

.imx-instagram {
	background-position: 53.153153153153156% 0;
}

.imx-internet-explorer {
	background-position: 53.6036036036036% 0;
}

.imx-invoice {
	background-position: 54.054054054054056% 0;
}

.imx-ios {
	background-position: 54.5045045045045% 0;
}

.imx-jsfiddle {
	background-position: 54.95495495495496% 0;
}

.imx-keep-away-from-children {
	background-position: 55.4054054054054% 0;
}

.imx-legal-document {
	background-position: 55.85585585585586% 0;
}

.imx-linkedin {
	background-position: 56.306306306306304% 0;
}

.imx-loan {
	background-position: 56.75675675675676% 0;
}

.imx-maestro {
	background-position: 57.207207207207205% 0;
}

.imx-mask-1 {
	background-position: 57.65765765765766% 0;
}

.imx-mask-2 {
	background-position: 58.108108108108105% 0;
}

.imx-massage {
	background-position: 58.55855855855856% 0;
}

.imx-mastercard {
	background-position: 59.009009009009006% 0;
}

.imx-medical-book {
	background-position: 59.45945945945946% 0;
}

.imx-medicine {
	background-position: 59.909909909909906% 0;
}

.imx-medium {
	background-position: 60.36036036036036% 0;
}

.imx-microorganisms {
	background-position: 60.810810810810814% 0;
}

.imx-microscope {
	background-position: 61.26126126126126% 0;
}

.imx-milestone {
	background-position: 61.711711711711715% 0;
}

.imx-module {
	background-position: 62.16216216216216% 0;
}

.imx-money-bag {
	background-position: 62.612612612612615% 0;
}

.imx-ms-edge {
	background-position: 63.06306306306306% 0;
}

.imx-ms-excel {
	background-position: 63.513513513513516% 0;
}

.imx-ms-outlook {
	background-position: 63.96396396396396% 0;
}

.imx-ms-powerpoint {
	background-position: 64.41441441441441% 0;
}

.imx-ms-word {
	background-position: 64.86486486486487% 0;
}

.imx-nurse {
	background-position: 65.31531531531532% 0;
}

.imx-oil {
	background-position: 65.76576576576576% 0;
}

.imx-onedrive {
	background-position: 66.21621621621621% 0;
}

.imx-opera {
	background-position: 66.66666666666667% 0;
}

.imx-pacifier {
	background-position: 67.11711711711712% 0;
}

.imx-pay-date {
	background-position: 67.56756756756756% 0;
}

.imx-paypal {
	background-position: 68.01801801801801% 0;
}

.imx-piggy-bank {
	background-position: 68.46846846846847% 0;
}

.imx-pill {
	background-position: 68.91891891891892% 0;
}

.imx-pinterest {
	background-position: 69.36936936936937% 0;
}

.imx-plastic-surgery {
	background-position: 69.81981981981981% 0;
}

.imx-plugin {
	background-position: 70.27027027027027% 0;
}

.imx-poop {
	background-position: 70.72072072072072% 0;
}

.imx-pound-circled {
	background-position: 71.17117117117117% 0;
}

.imx-pregnancy-no-alcohol {
	background-position: 71.62162162162163% 0;
}

.imx-project-revenue {
	background-position: 72.07207207207207% 0;
}

.imx-pull-request {
	background-position: 72.52252252252252% 0;
}

.imx-pulse {
	background-position: 72.97297297297297% 0;
}

.imx-radioactive {
	background-position: 73.42342342342343% 0;
}

.imx-reddit {
	background-position: 73.87387387387388% 0;
}

.imx-repository {
	background-position: 74.32432432432432% 0;
}

.imx-responsive-layout {
	background-position: 74.77477477477477% 0;
}

.imx-rh-negative {
	background-position: 75.22522522522523% 0;
}

.imx-rh-positive {
	background-position: 75.67567567567568% 0;
}

.imx-rod-of-asclepius {
	background-position: 76.12612612612612% 0;
}

.imx-safari {
	background-position: 76.57657657657657% 0;
}

.imx-sale {
	background-position: 77.02702702702703% 0;
}

.imx-sass {
	background-position: 77.47747747747748% 0;
}

.imx-security-1 {
	background-position: 77.92792792792793% 0;
}

.imx-security-2 {
	background-position: 78.37837837837837% 0;
}

.imx-severity {
	background-position: 78.82882882882883% 0;
}

.imx-sign-language {
	background-position: 79.27927927927928% 0;
}

.imx-skype {
	background-position: 79.72972972972973% 0;
}

.imx-slack {
	background-position: 80.18018018018019% 0;
}

.imx-snapchat {
	background-position: 80.63063063063063% 0;
}

.imx-sneeze {
	background-position: 81.08108108108108% 0;
}

.imx-software-architecture {
	background-position: 81.53153153153153% 0;
}

.imx-software-installer {
	background-position: 81.98198198198199% 0;
}

.imx-soundcloud {
	background-position: 82.43243243243244% 0;
}

.imx-source-code {
	background-position: 82.88288288288288% 0;
}

.imx-spotify {
	background-position: 83.33333333333333% 0;
}

.imx-stackoverflow {
	background-position: 83.78378378378379% 0;
}

.imx-steam {
	background-position: 84.23423423423424% 0;
}

.imx-stethoscope {
	background-position: 84.68468468468468% 0;
}

.imx-strategy {
	background-position: 85.13513513513513% 0;
}

.imx-stretcher {
	background-position: 85.58558558558559% 0;
}

.imx-stripe {
	background-position: 86.03603603603604% 0;
}

.imx-syringe {
	background-position: 86.48648648648648% 0;
}

.imx-system-update {
	background-position: 86.93693693693693% 0;
}

.imx-teeth {
	background-position: 87.38738738738739% 0;
}

.imx-telegram {
	background-position: 87.83783783783784% 0;
}

.imx-thermometer {
	background-position: 88.28828828828829% 0;
}

.imx-tiktok {
	background-position: 88.73873873873873% 0;
}

.imx-tinder {
	background-position: 89.1891891891892% 0;
}

.imx-toilet-paper {
	background-position: 89.63963963963964% 0;
}

.imx-tooth {
	background-position: 90.09009009009009% 0;
}

.imx-tooth-cracked {
	background-position: 90.54054054054055% 0;
}

.imx-touch-id {
	background-position: 90.990990990991% 0;
}

.imx-twitch {
	background-position: 91.44144144144144% 0;
}

.imx-twitter {
	background-position: 91.89189189189189% 0;
}

.imx-usb {
	background-position: 92.34234234234235% 0;
}

.imx-verified-account {
	background-position: 92.7927927927928% 0;
}

.imx-veterinarian {
	background-position: 93.24324324324324% 0;
}

.imx-vial {
	background-position: 93.69369369369369% 0;
}

.imx-viber {
	background-position: 94.14414414414415% 0;
}

.imx-vimeo {
	background-position: 94.5945945945946% 0;
}

.imx-virus {
	background-position: 95.04504504504504% 0;
}

.imx-virus-protection {
	background-position: 95.49549549549549% 0;
}

.imx-virus-stop {
	background-position: 95.94594594594595% 0;
}

.imx-visa {
	background-position: 96.3963963963964% 0;
}

.imx-visually-impaired {
	background-position: 96.84684684684684% 0;
}

.imx-wechat {
	background-position: 97.29729729729729% 0;
}

.imx-weight-scale {
	background-position: 97.74774774774775% 0;
}

.imx-whatsapp {
	background-position: 98.1981981981982% 0;
}

.imx-wire-transfer {
	background-position: 98.64864864864865% 0;
}

.imx-workflow {
	background-position: 99.09909909909909% 0;
}

.imx-yen-circled {
	background-position: 99.54954954954955% 0;
}

.imx-youtube {
	background-position: 100% 0;
}

